@import 'mixins/reset'

canvas = 800px
@import 'mixins/grid'
cnt(arguments = 12)
  span arguments
  mar 0 auto
  clear()

@import 'mixins/shades'
@import 'mixins/brevity'
@import 'mixins/mixins'
@import 'mixins/fonts'

@import '960/root/body'
@import '960/root/markdown'
@import '960/root/header'
@import '960/root/footer'

@import '960/root/home'

@import '960/profile/index'
@import '960/projects/index'

@import '960/articles/index'
@import '960/articles/article'

@import '960/contact/index'
