@import 'mixins/reset'
@import 'mixins/grid'
@import 'mixins/brevity'
@import 'mixins/mixins'

@import 'root/body'
@import 'root/header'
@import 'root/content'
@import 'root/footer'

@import 'profile/index'
@import 'projects/index'
@import 'articles/index'
@import 'contact/index'
