  </div>

  <footer class='index'>
    <p class='copyright'>&copy; 2013 <a href='/en'>Nylira, LLC</a>
    <nav class='index'>
      <ul>
        <li>Nylira is a design studio by Peng Zhong. <a href='/en/contact'>Say hello.</a>
        <li>
          <a href='mailto:peng@nylira.com'>peng@nylira.com</a> &middot;
          <a href='//twitter.com/zcpeng'>@zcpeng</a> &middot;
          <a href='https://github.com/nylira/'>github</a> &middot;
          <a href='nylira.com/en/atom.xml'>rss</a>
      </ul>
    </nav>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
  <script src='/s/js/jquery.timeago.js'></script>
  <script src='/s/js/jquery.cycle.all.min.js'></script>

  <script>
    $(document).ready(function() {
      $('time.timeago').timeago();
      $('ul.slideshow').cycle({
        timeout: 8000,
        pause: 1,
        fx: 'scrollLeft',
      });
    });
  </script>
