body.home
  #content
    pad 2em 0 4em

    header.main
      pad m*2 0
      bt 1px solid edge
      bb 1px solid edge
     
      aside
        padding m*6 0
        font 175%/1 sans
        text-align center
        color m110
        font-smoothing()
        bg m50
        a
          color #fff
          text-decoration none
          transition()
          &:hover
            color anchor

    section
      &.about, &.articles
        pad 2em 0 0
      &.about
        display none
