pad()
  padding arguments

mar()
  margin arguments

bg()
  background arguments

bt()
  border-top arguments

br()
  border-right arguments

bb()
  border-bottom arguments

bl()
  border-left arguments

bs()
  br arguments
  bl arguments

be()
  bt arguments
  bb arguments

bc(t = 1px solid #fff, r = 1px solid #999, b = 1px solid #000, l = 1px solid666)
  bt t
  br r
  bb b
  bl l
