canvas = 960px
columns = 12

c = canvas / columns * 1px
gutter = c / 8
gut = gutter / 2

clear()
  &:after
    display block
    clear both
    content ''

span(n)
  width c * n * 1px

cnt(n = 12)
  span n
  margin 0 auto
  clear()

col(n)
  span n
  float left

colm(n)
  col n - gutter
  margin 0 gut

colp(n)
  col n - gutter
  padding 0 gut

c1 = c*1px
c2 = c*2px
c3 = c*3px
c4 = c*4px
c5 = c*5px
c6 = c*6px
c7 = c*7px
c8 = c*8px
c9 = c*9px
c10 = c*10px
c11 = c*11px
c12 = c*12px
