serif = Georgia, 'serif'
mono = Consolas, 'Lucida Console', Monaco, Courier New, monospace
sans = 'Helvetica Neue', Arial, Helvetica, sans-serif
lucida = 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif 

text-smoothing(n = antialiased)
  -webkit-font-smoothing n

border-radius(n = 5px)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

transition(arguments = all .15s ease) 
  transition arguments
  -webkit-transition arguments 
  -moz-transition arguments 
  -o-transition arguments 
   
transition-duration(n = 0s) 
  transition-duration n 
  -webkit-transition-duration n 
  -moz-transition-duration n 
  -o-transition-duration n 
 
transform(n = skew(15deg)) 
  transform n 
  -webkit-transform n 
  -moz-transform n 
  -o-transform n

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-box-shadow arguments
  box-shadow arguments
