footer.index
  padding 2em 0
  cnt()
  font-size sm
  bt 1px solid edge

  p.copyright
    col 4
    a
      color txt
      bb none
      &:hover
        color anchor
        bb 1px solid anchor

  nav.index
    col 8
