<li class='project' id='riotact'>
  <iframe src='//riotactguild.com/guides' ></iframe>
  <h3 class='title'>Riot Act</h3>
  <time class='timeago' datetime='2010-01-13'>January 2010</time>
  <a target='_blank' href='//riotactguild.com/'>Visit site</a>

<li class='project' id='corianderx'>
  <iframe src='//projects.nylira.com/p/corianderx' ></iframe>
  <h3 class='title'>Corianderx</h3>
  <time class='timeago' datetime='2009-12-23'>December 2009</time>
  <a target='_blank' href='//projects.nylira.com/p/corianderx'>View demo</a>

<li class='project' id='idonethis'>
  <iframe src='//idonethis.com/business' ></iframe>
  <h3 class='title'>iDoneThis</h3>
  <time class='timeago' datetime='2011-08-08'>August 2011</time>
  <a target='_blank' href='//idonethis.com/business'>Visit site</a>

<li class='project' id='ruby'>
  <iframe src='//projects.nylira.com/p/ruby' ></iframe>
  <h3 class='title'>Ruby</h3>
  <time class='timeago' datetime='2010-03-17'>March 2010</time>
  <a target='_blank' href='//projects.nylira.com/p/ruby'>Visit demo</a>

<li class='project' id='luckychat'>
  <iframe src='//projects.nylira.com/lcd1' ></iframe>
  <h3 class='title'>LuckyChat</h3>
  <time class='timeago' datetime='2011-05-18'>May 2011</time>
  <a target='_blank' href='//projects.nylira.com/lcd1'>View demo</a>

<li class='project' id='tcc'>
  <iframe src='//threecoins.com/company/news' ></iframe>
  <h3 class='title'>Three Coins</h3>
  <time class='timeago' datetime='2010-07-18'>July 2010</time>
  <a target='_blank' href='//threecoins.com/'>Visit site</a>

<li class='project' id='drawarbank'>
  <iframe src='//projects.nylira.com/p/bank' ></iframe>
  <h3 class='title'>Drawar Bank</h3>
  <time class='timeago' datetime='2010-04-18'>April 2010</time>
  <a target='_blank' href='//projects.nylira.com/p/bank'>View Demo</a>

<li class='project' id='metc'>
  <iframe src='//manenough2care.com/' ></iframe>
  <h3 class='title'>Man Enough to Care</h3>
  <time class='timeago' datetime='2011-01-30'>January 2010</time>
  <a target='_blank' href='//manenough2care.com/'>Visit site</a>

<li class='project' id='acorn'>
  <iframe src='//v2.nylira.com/p/acorn' ></iframe>
  <h3 class='title'>Acorn</h3>
  <time class='timeago' datetime='2010-04-04'>April 2010</time>
  <a target='_blank' href='//v2.nylira.com/p/acorn'>Visit site</a>

<li class='project' id='manywhelps'>
  <iframe src='//projects.nylira.com/p/manywhelps' ></iframe>
  <h3 class='title'>Many Whelps</h3>
  <time class='timeago' datetime='2009-12-23'>December 2009</time>
  <a target='_blank' href='//projects.nylira.com/p/manywhelps'>View demo</a>

<li class='project' id='cv'>
  <iframe src='//projects.nylira.com/p/cv' ></iframe>
  <h3 class='title'>Peng Zhong</h3>
  <time class='timeago' datetime='2009-06-08'>June 2009</time>
  <a target='_blank' href='//projects.nylira.com/p/cv'>View CV</a>
