txt = #333
dim = #666
light = #999

bg1 = #fff
bg2 = #eee
bg3 = #ddd

lhue = 205
lsat = 100
link = hsl(lhue,lsat,37)
hover = hsl(lhue,95,35)

bc = bg3

rhue = 0
negative = hsl(rhue,100,37)

/////////////////////////////////////////

txt = m184
dim = m164
light = m144

bg1 = m30
bg2 = m85
bg3 = w10

bc = bg3

lhue = 330
lsat = 100
link = hsl(lhue,lsat,50)
hover = hsl(lhue,95,65)
