txt = #333
dim = #666
light = #888

bg1 = #fff
bg2 = #eee
bg3 = #ddd

lhue = 205
lsat = 0
llight = 0
link = hsl(lhue,lsat,llight)
hover = hsl(lhue,lsat,llight)

bc = bg3

rhue = 0
negative = hsl(rhue,100,37)
