x = 16px
sm = 13px

df()
  s x
  lh 1.5
  ff sans
  c txt

anchor()
  color link
  text-decoration none
  &:hover, &:focus
    color hover

a
  anchor()

em
  font-style italic

strong
  font-weight bold
