@import 'mixins/reset'

canvas = 300px
@import 'mixins/grid'

@import 'mixins/shades'
@import 'mixins/brevity'
@import 'mixins/mixins'
@import 'mixins/fonts'

@import '320/root/body'
@import '320/root/markdown'
@import '320/root/header'
@import '320/root/footer'

@import '320/root/home'

@import '320/profile/index'
@import '320/projects/index'

@import '320/articles/index'
@import '320/articles/article'

@import '320/contact/index'
