body.projects
  header.index
    position fixed
    top 0
    left 0

  #content
    padding 0
    min-width 200%

    ol.projects
      clear()
      white-space nowrap
      
      li.project
        display inline-block
        pad 6em 4em 2em
        border-right 1px solid edge
        border-bottom 1px solid edge
        iframe
          display block
          background m100
          box-shadow b30 0 3px 10px
          margin 0 0 m
          overflow hidden

       h3, time
        font-weight bold
        font-size m
        text-smoothing()
        text-transform uppercase
        letter-spacing 1px
        display inline

      time
        color accent
   
      a
        display block
        float right
        color #555
        transition()
        &:after
          display inline
          content: '\0020\21B5'
        &:hover
          color #fff

  footer.index
    display none
