body
  max-width 48em
  margin 0 auto
  font 16px/1.5 Georgia

  p.meta
    font italic 16px/1.5 Georgia
    color #666
    text-align center
    margin-top -2em
    margin-bottom 3em

  h1
    font 3em/1.5 Times New Roman, Times, serif
    text-align center

  h2
    font 2em/1.5 Times New Roman, Times, serif

  pre
    border 1px solid #ddd
    padding 1em

  code
    font 1em/1.25 Consolas, Menlo, monospace



