body.contact
  #content
    section.contact
      width 640px
      float left
      pl 320px

      section.details
        width 320px
        float left
        ml -320px
        dl
          margin 0 0 m
          dt
            float left
            display block
            clear left
            pr .33em
            &:after
              display inline
              content ':'
              pr 0

          dd
            display block


        section.address
          pt 2em
          mt 2em
          width 240px - m*2
          ul
            li
              a
                color txt
                &:hover
                  color anchor


      .map
        iframe
          display block
          mb m
          border 1px solid #999
        a
          color anchor !important
          &:hover
            color #fff
