  </div>

  <footer class='index'>
    <p class='copyright'>&copy; 2011 <a href='/en'>Nylira, LLC</a>
    <nav class='index'>
      <ul>
        <li>Nylira, LLC is a solo operation run by Peng Zhong. <a href='/en/contact'>Contact page</a>
        <li>
          <a href='mailto:hello@nylira.com'>hello@nylira.com</a> &middot;
          <a href='//twitter.com/zcpeng'>@zcpeng</a> &middot;
          <a href='//facebook.com/pages/Nylira/191457124212076'>facebook</a>
      </ul>
    </nav>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
  <script src='/s/js/jquery.timeago.js'></script>

  <script>
    $(document).ready(function() {
      $('time.timeago').timeago();
    });
  </script>
