  <header class='index'>
    <h1><a href='/en'>Nylira</a></h1>

    <nav>
      <ul>
        <li class="index projects"><a href='/en/projects'>Projects</a>
        <li class="index profile"><a href='/en/profile'>Profile</a>
        <li class="index articles"><a href='/en/articles'>Articles</a>
        <li class="index contact"><a href='/en/contact'>Contact</a>
      </ul>
    </nav>

    <menu class="i18n">
      <ul>
        <li class="index en active"><a href='/en'>English</a>
        <li class="index jp"><a href='/ja'>日本語</a>
        <li class="index zh"><a href='/zh'>中文</a>
      </ul>
    </menu>

  </header>

  <div id='content'>
