</div>

<footer class='index'>
  <p class='copyright'>&copy; 2011 <a href='/'>Nylira, LLC</a>
  <nav class='index'>
    <ul>
      <li>Nylira, LLC is a one-man operation run by Peng Zhong. <a href='#'>Contact page</a>
      <li>
        <a href='mailto:hello@nylira.com'>hello@nylira.com</a> &middot;
        <a href='tel:+17076338539'>+1 (707) 633-8539</a>
      <li><a href='//twitter.com/zcpeng'>@zcpeng</a> &middot; <a href='//blog.nylira.com'>blog.nylira.com</a>
    </ul>
  </nav>
</footer>

<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
<script src='/s/js/jquery.timeago.js'></script>

<script>
  $(document).ready(function() {
    jQuery('time.timeago').timeago();
  });
</script>

<script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('35ad0f18a172715c3f8f9ce5465eb9c9'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
