  </div>

  <footer class='index'>
    <p class='copyright'>&copy; 2011 <a href='/'>Nylira, LLC</a>
    <nav class='index'>
      <ul>
        <li>Nylira, LLC is a one-man operation run by Peng Zhong. <a href='/contact'>Contact page</a>
        <li>
          <a href='mailto:hello@nylira.com'>hello@nylira.com</a> &middot;
          <a href='//twitter.com/nyliraUX'>@nyliraUX</a>
      </ul>
    </nav>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>
  <script src='/s/js/jquery.timeago.js'></script>

  <script>
    $(document).ready(function() {
      jQuery('time.timeago').timeago();
    });
  </script>
