<header class="index">
  <h1><a href="/">Nylira</a></h1>
  <nav class="indices">
    <ul>
      <li class="index profile"><a href="#">
        <h2>Profile</h2>
        <p>An insight </p>
      </a>
      <li class="index projects"><a href="#">
        <h2>Projects</h2>
        <p>An offering</p>
      </a>
      <li class="index articles"><a href="#">
        <h2>Articles</h2>
        <p>An understanding</p>
      </a>
      <li class="index contact"><a href="#">
        <h2>Contact</h2>
        <p>An introduction</p>
      </a>
    </ul>
  </nav>
</header>

<div id="content">
