extends layouts/base

block title
  | About

block container

  .header
    h1.title About

  .body
    :markdown

      Formed in 2010, Nylira is an interface design studio run by Peng Zhong. Nylira designs and builds user interfaces for the web and mobile devices. You may view our <a href="../projects">design work here</a>, or keep reading to understand why you should hire us for your project.

      ## What is interface design?

      Interface design is about making your website or web application more visually appealing and easy to use. Beautiful, non-confusing websites are more likely to convert visitors into users, or free users to paying users. People lead busy lives and they don't have the time to figure out your obtuse interface. Interface design attempts to simplify and organize information and interactive elements in order to improve ease-of-use.

      Interface design for the web emcompasses both visual design and interaction design. Visual design consists of the aesthetics (the look and feel) of a website or web application, and interaction design consists of optimizing the elements of the site or app for usability.

      ## What can you gain by hiring an interface designer?

      Interface designers strive to improve the user's experience with a web application or website. We find the snags that a user will run into, whether it's because a piece of text is unclear or a button's shading is not visible enough, and we remove them. UI designers for the web can be directly compared to industrial designers for physical objects. If you can appreciate the grip and sharpness of a well designed chef's knife, you can appreciate the benefits a UI designer can give you.

      Interface designers smooth down the rough hewn edges of a website. We do this by designing interfaces with usability as the number one priority. A user's experience with your application should be as frustration-free as possible. Happy users tend to stick around longer and convert better. We work with web standards to make your site accessible to people with disabilities (color blindess, poor vision, blindless), and to make sure your site looks good years down the road, even without maintenance.

      ## What do you have to know to hire a UI designer?

      You don't have to know the nitty gritty about web development to hire a UI designer. I will explain issues to you in layman's terms. If you can get around Facebook and Google, that's all you'll need. My job is realizing your ideas into pixels. Crossing any communication gaps is part of my work. You're hiring me for my expertise in interface design so you can focus your time on more important things. I will of course convey what I know to you with simple clarity.

      If you are a technical person though, I can certainly work with you in a technical way. I'm a UI designer who works like a programmer. I'm fairly proficient in vim and I code everything in it. This "About" entry was written in Markdown with vim. I use tools like zsh, git, make, and node libraries on a daily basis. I can code basic Javascript, though I prefer to write in LiveScript (Prelude.ls is amazing).

      ## Why hire Nylira?

      **I'm a designer who can code.** I believe few designers have the right mindset when designing for the web. Adobe Photoshop is not the right tool for interface design because canvas sizes does not exist online. This is why I rarely use Photoshop for web UI development. I code my interfaces directly with HTML and CSS. This means you don't have to hire a front-end developer to turn my designs into code.

      ** I work efficiently.** Because I design even my prototype interfaces in code, any changes I make are reflected instantly in your web application or website. This results in a much, much faster feedback loop than if I were to design in Photoshop and then implement the work in CSS and HTML.

      ** I understand the limitations and the possibilities of the web.** Website designs that look fantastic in Photoshop aren't always feasible to be built for the web without being grossly inefficient. By coding interfaces in CSS and HTML from the beginning, I embrace the limitations of the web while being creative with the flexible canvas.

      ## How does Nylira approach a typical project?

      TODO

      ## What is "mobile first"? Should you go "mobile first"?

      "Mobile first" is the idea that your website should be accessible from all web browsers, starting from smartphones all the way up to desktop browers. I wrote [../mobile-first/">an article</a> about the importance of going mobile first a couple years ago. It's worth a read if you have time. The short version is that it's very much worth going mobile first if a significant portion of your audience will visit your website or web app with their phone.

      ## You wish to hire me for web design. How can you get in touch?

      I'm delighted to hear that you're interested in taking this further. You can contact me with your project details at <a href="mailto:peng@nylira.com">peng@nylira.com</a>. Any questions and comments are welcome too.


      If you wish to see some of my work, view [my Projects page](../projects). If you want to read more of my writing, view [my Articles page](../articles).
