extends layouts/base

block title
  | About

block container

  .header
    h1.title About

  .body
    p Formed in 2010, Nylira is a one-man user experience design studio run by Peng Zhong. He doesn't stay in one place for too long as he's often traveling between Asia and North America. You can see his <a href="../projects">design work here</a>, or you can keep reading to understand why you should hire him to do your website.

    p Firstly, what is user experience (UX) design? User experience design is all about making your website or web application more appealing and more of a joy to use. Beautiful, easy-to-use websites are more likely to convert visitors into users. Increased conversion rates is always good, right?

    p Why use the term UX design instead of web design? There is one significant difference between UX designers and web designers, and that is usability. Web designers generally only concern themselves with static mockups of designs. UX designers go through the process of interacting with the design, just like a user would. We find the snags that a user will run into, whether it's because a piece of text is unclear or a button's shading is not visible enough.

    p TL;DR: User experience design is web design done right.

    h2 What can you gain by hiring an user experience designer?

    p User experience designers strive to improve the user's experience with a web application or website. We can be directly compared to industrial designers. If you can appreciate the heft and sharpness of a well designed chef's knife, you can appreciate having a UX designer around.

    p UX designers smooth down the rough hewn edges of a website. We design interfaces with usability in mind. A user's experience with your application should be as frustration-free as possible, and this is what we aim towards. We work with web standards to make your site accessible to people with disabilities (color blindess, poor vision, blindless), and to make sure your site looks good years down the road, even without maintenance.

    h2 What makes me better at UX design than other designers?

    p I believe very few designers have the right mindset when designing for the web. Photoshop's arbitrary canvas size does not exist online. The modern browser is a porthole into an infinite canvas that can be beaten and wrought into an uncountable number of combinations.

    p Eschewing tradition and any trappings of print design, Nylira fully embraces and takes advantage of new media.

    h2 Do you have to be technical to hire a UX designer?

    p If you can get around Facebook and Google, that's all you need. I will explain issues to you in layman's terms. My job is realizing your ideas into pixels, and crossing any communication gaps is part of my work. You're hiring me for my expertise in UX, so you can focus your time on more important things. I will convey what I know to you with simple clarity.

    p If you are a technical person though, I can certainly work with you in a technical way. While I label myself a UX designer, I work like a programmer. I use tools like zsh, vim, git, and node libraries on a regular basis. I can code Javascript, though I prefer to use LiveScript personally (Prelude.ls is amazing).

    h2 How do you approach a typical project?

    p TODO

    h2 What is "mobile first"? Should I go "mobile first"?

    p "Mobile first" is the idea that your website should be accessible from all web browsers, starting from smartphones all the way up to desktop browers. I wrote <a href="../mobile-first/">an article</a> about the importance of going mobile first a couple years ago. It's worth a read if you have time. The short version is that it's very much worth going mobile first if a significant portion of your audience will visit your website or web app with their phone.

    h2 You wish to hire me for web design. How can you get in touch?

    p I'm delighted to hear that you're interested in taking this further. You can contact me with your project details at <a href="mailto:peng@nylira.com">peng@nylira.com</a>. Any questions and comments are welcome too.

    p If you wish to see some of my work, try <a href="../projects">going to my Projects page</a>. If you want to read more of my writing, try <a href="../articles">the Articles page</a>.

