extends layouts/base

block title
  | About

block container

  .header
    h1.title About

  .body
    What is Interface Design?

    What can you gain by hiring an interface designer?

    What makes me better at interface design than other designers?

      I believe very few designers have the right mindset when designing for the web. Photoshop's arbitrary canvas size does not exist online. The modern browser is a porthole into an infinite canvas that can be beaten and wrought into an uncountable number of combinations.

      Eschewing tradition and any trappings of print design, Nylira fully embraces and takes advantage of new media.

    Do I have to be technical?
      No, I explain things in simple terms.
      But if you want to be technical... I can definitely do that too.

    How do you approach a typical project?

    Do I have to go mobile first?

    You've sold me. How can I get in touch?
      I'm delighted to hear that.

