extends layouts/base

block title
  = meta.title

block container

  .header
    .aside
      p.date
        span.label Posted on 
        = moment(meta.date).format("YYYY-MM-DD")
    .main
      h1.title!= meta.title

  .body.text
    != content

  .footer
    p.meta= 'Edited ' + moment(meta.date).format("YYYY-MM-DD")
