extends layouts/base

block title
  = meta.title

block container

  .article-header
    h2= moment(meta.date).format("YYYY-MM-DD")
    h1.title!= meta.title

  .article-body
    != content

  .article-footer
    p.meta= 'Edited ' + moment(meta.date).format("YYYY-MM-DD")
