extends layouts/base

block title
  | Clients

block container

  section#section-top
    .section-header
      h2 Clients

    .section-content
      p This is a select list of Nylira's clients since 2010. Take a look at how my work has evolved over the years.

      - for client in clients
        a.block(href=depth + client.slug + '/')
          .title!= client.meta.title
          if client.meta.slug
            .thumb: img(src='../assets/images/clients/'+client.meta.slug+'-thumb.png')
          .sub
            .date= moment(client.meta.date).format("YYYY-MM-DD")
