extends layouts/base

block title
  | Clients

block container

  .header
    .main
      h1.title Clients

  .body
    p This is a select list of Nylira's clients since 2010. Take a look at how my work has evolved over the years.
    ul.blocks
      - for client in clients
        li: a.block(href=depth + client.slug + '/')
          .title!= client.meta.title
          if client.meta.slug
            .thumb: img(src='../assets/images/clients/'+client.meta.slug+'-thumb.png')
          .sub
            .date= moment(client.meta.date).format("YYYY-MM-DD")
