extends layouts/base

block title
  | Clients

block container

  .header
    .main
      h1.title Clients

  .body
    p This is a select list of my official projects since 2010. Take a look at how my work has evolved over the years.
    ul.blocks
      - for project in projects
        li: a.block(href=depth + project.slug + '/')
          .title!= project.meta.title
          if project.meta.slug
            .thumb: img(src='../assets/images/projects/'+project.meta.slug+'-thumb.png')
          .sub
            .date= moment(project.meta.date).format("YYYY-MM-DD")
