extends layouts/base

block title
  | Contact

block container

  .header
    h1.title Contact

  .body
    p Interested in talking with me about your project? Whether you need a site planned from scratch, a redesign, or assistance on a range of branding, architectural and usability issues: I'm here to help.

    ul.blocks
      li: a.block(href='mailto:peng@nylira.com')
        .title peng@nylira.com
        .sub Email
      li: .block
        .title 0x5619950A
        .sub
          | PGP Key 
          em: a(href='http://prism-break.org/en/all/#email-encryption') What is PGP?
      li: a.block(href='https://github.com/nylira')
        .title github.com/nylira
        .sub GitHub
