extends layouts/base

block title
  | Contact

block container

  .header
    .main
      h1.title Contact

  .body
    p <strong>Want to solve your project's design problems?</strong> Whether you need a site planned from scratch, a redesign, or assistance on a range of branding, architectural and usability issues: I'm here to help.

    ul.blocks
      li: a.block(href='mailto:peng@nylira.com')
        .title peng@nylira.com
        .sub Email (0xCABC2F0E)
      li: a.block(href='https://twitter.com/zcpeng')
        .title @zcpeng
        .sub Twitter
      li: a.block(href='https://github.com/nylira')
        .title github.com/nylira
        .sub Github
      li: a.block(href='https://www.linkedin.com/in/nylira')
        .title linkedin.com/in/nylira
        .sub LinkedIn 
