extends layouts/base

block title
  | Contact

block container

  .header
    .main
      h1.title Get in touch.

  .body
    p <strong>Want to solve your project's design problems?</strong> Whether you need a site planned from scratch, a redesign, or assistance on a range of branding, architectural and usability issues: I'm here to help.

    ul.blocks
      li: a.block(href='mailto:peng@nylira.com')
        .title Email: peng@nylira.com
        .sub I will answer within 24 hours
      li: a.block(href='https://twitter.com/zcpeng')
        .title Twitter: @zcpeng
        .sub https://twitter.com/zcpeng 
      li: a.block(href='https://github.com/nylira')
        .title GitHub: nylira
        .sub https://github.com/nylira
      li: a.block(href='https://www.linkedin.com/in/nylira')
        .title LinkedIn: nylira
        .sub https://linkedin.com/in/nylira
