extends layouts/base

block title

  = meta.title

block container

  .header
    h1.title!= typogr.typogrify(meta.title)

  .body
    != content

  .footer
    p.meta= 'Last edited on ' + moment(meta.date).format("YYYY-DD-MM") + '.'
