extends layouts/base

block title
  | Articles

block container

  .header
    .main
      h1.title Expertise

  .body

    p Read what I've written about interface design, web development, and other related topics. 

    ul.blocks
      - for article in articles
        li: a.block(href=depth + article.slug + '/')
          .title!= article.meta.title
          .sub
            .date= moment(article.meta.date).format("YYYY-MM-DD")
