extends layouts/base

block title
  | Web Interface Design by Peng Zhong - Nylira

block container

  .header
    h1 Interface design for <a href="./about/">developers</a>.

  .section
  h2 Recent Projects
  ul.blocks.projects
    - for project in projects
      li: a(href='./' + project.slug + '/')
        .title!= project.meta.title
        .date= moment(project.meta.date).format("YYYY-MM-DD")

  .section
    h2 Recent Articles
    ul.blocks.articles
      - for article in articles
        li: a(href='./' + article.slug + '/')
          .title!= article.meta.title
          .date= moment(article.meta.date).format("YYYY-MM-DD")

  .contact
    p Get in touch with Peng at <a href="http://nyliberalen.frihetsfronten.se/">peng@nylira.com</a>.
