extends layouts/base

block title
  Nylira

block container
  - for category in categories
    .category
      .category-name= category.name
      ul.link-list
        - for essay in category.essays
          li: a(href='./' + essay.slug + '/')
            .title!= essay.meta.title
            .date= moment(essay.meta.date).format("YYYY-DD-MM")
