extends layouts/base

block title
  | Profile

block container

  .header
    h1.title Profile

  .body.text
    :markdown

      Formed in 2010, Nylira is an interface design studio run by Peng Zhong. Nylira designs and builds user interfaces for the web and mobile devices. Take a look at our <a href="../projects">work here</a>. Keep reading to understand why you should hire us for your next project.

      ## What is interface design?

      Interface design is about making a website or web application more visually appealing and easy-to-use. Beautiful, clear websites are more likely to convert visitors into customers and free customers into paying customers. People lead busy lives. They don't have the time to figure out your clunky or obtuse interface. Interface design attempts to simplify and organize the information on a website into a human-readable format.

      Interface design for the web emcompasses both visual design and interaction design. Visual design consists of the aesthetics (the look and feel) of a website or web application. Interaction design consists of organizing the manipulable elements of the site for optimal usability.

      ## What can you gain by hiring an interface designer?

      Interface designers strive to improve the user's experience with a web application or website. We find the snags that a user will run into, whether it's because a piece of text is unclear or a button's shading is not visible enough, and we remove them. UI designers for the web can be directly compared to industrial designers for physical objects. If you can appreciate the grip and sharpness of a well designed chef's knife, you can appreciate the benefits a UI designer can give you.

      Interface designers smooth down the rough hewn edges of a website. We do this by designing interfaces with usability as the number one priority. A user's experience with your application should be as frustration-free as possible. Happy users tend to stick around longer and convert better. We work with web standards to make your site accessible to people with disabilities (color blindess, poor vision, blindless), and to make sure your site looks good years down the road, even without maintenance.

      ## What should you know before hiring an interface designer?

      You don't have to know much. You don't have to know the nitty gritty about web development. I will explain issues to you in layman's terms. If you can get around Facebook and Google, that's all you'll need. My job is realizing your ideas into pixels. Crossing any communication gaps is part of my work. You're hiring me for my expertise in interface design so you can focus your time on more important things. I will of course convey what I know to you with simple clarity.

      If you are a technical person though, I can certainly work with you in a technical way. I'm a visual designer who codes in vim. I use tools like zsh, git, make, and node libraries on a daily basis. I can code basic Javascript, though I prefer to write in LiveScript (Prelude.ls is amazing). This 'Profile' page was written in Markdown with vim. This site was built with a static site generator [I wrote from scratch](../making-of-nylira-v4).

      ## Why should you have Nylira work on your project?

      **I'm a designer who can code.** I believe that Adobe Photoshop is not the right tool for interface design because the finished mockups are not interactive. I rarely use Photoshop for web UI development. Instead, I code my interfaces directly with HTML and CSS. This means you don't have to hire a front-end developer to turn my designs into code.

      ** I work efficiently.** Because I design even my prototype interfaces in code, any changes I make are reflected instantly in your web application or website. From the initial sketches to the final layout, you will have always have the opportunity to interact and offer feedback with the design in-progress. This results in a much faster feedback loop than if I were to design in Photoshop and then do the work again in CSS and HTML.

      ** I understand the limitations and the possibilities of the web.** Website designs that look fantastic in Photoshop aren't always feasible to be built for the web without being grossly inefficient. By coding interfaces in CSS and HTML from the beginning, I embrace the limitations of the web while allowing myself to be able to be creative with the flexible canvas.

      ## How does Nylira approach a typical project?

      <ul id='project-process'>
        <li>
          <span class='label'>1. Research</span>
          <span class='desc'>I talk with you to understand what you require from the website or web application.</span>
        </li>
        <li>
          <span class='label'>2. Create outline</span>
          <span class='desc'>Based on our discussion, I create a site outline specifying all the necessary content.</span>
        </li>
        <li>
          <span class='label'>3. Construct prototypes</span>
          <span class='desc'>With the outline approved by you, I start working on an initial prototype of the design.</span>
        </li>
        <li>
          <span class='label'>4. Polish</span>
          <span class='desc'>Based on your feedback, we work from the rough forms of the prototype into the minute details of the final design.</span>
        </li>
        <li>
          <span class='label'>5. Launch</span>
          <span class='desc'>Once we're satisfied with the state of the interface, we publish it live.</span>
        </li>
        <li>
          <span class='label'>6. Measure &amp; optimize</span>
          <span class='desc'>After launch, we can conduct A/B tests to see if the design can be improved (optional).</span>
        </li>
      </ul>

      I'm a strict minimalist. Careful consideration is given to every element placed on a page. If it's unclear how an element is useful, it should be removed. The goal of UI design is clear and simple communication. 

      What I strive to achieve with my work is elegant simplicity. While print designers have had thousands of years to perfect the usability of ink on paper, interaction designers have had a half-decade at best. HTML is only 21 years old. The web is still very much a free-for-all, with wild UI experimentation going on even in the stablest of properties (Google still reinvents their home page on a regular basis). No one is exactly sure what works best yet, and anyone telling you differently is selling you false confidence.

      We do have some tools and useful. A/B testing, funnel metrics&mdash;these are great tools to optimize existing designs. The keyword is existing&mdash;the best you can do is reach a local maxima. Testing 41 shades of blue will get you the perfect blue, but it won't tell you that the entire page should be rebuilt.

      A lot of undesigning goes into my work. Developers tend to design for people like themselves. It's a logical decision: programmers and web geeks are rational, analytical, and will send you bug reports (stack trace and all). Who really knows what appeals to twenty-something mothers? They themselves certainly don't.

      Unfortunately, the vast majority of people do not derive pleasure from tweaking config files and optimizing build times. They're impulsive, emotion-driven, and almost never read any of the copy you write. The computer is a magical black box (or tablet) that was designed to personally frustrate them. How do you design for these people? Simplify.

      Interface design is the process of connecting cutting-edge ingenuity with normal people, looking for a stress-free experience.

      ## What is "mobile first"? Should you go "mobile first"?

      "Mobile first" is the idea that your website should be accessible from all web browsers, starting from smartphones all the way up to desktop browers. I wrote [an article](../mobile-first/") about the importance of going mobile first a couple years ago. It's worth a read if you have time. The short version is that it's very much worth going mobile first if a significant portion of your audience will visit your website or web app with their phone.

      ## You wish to hire me for web design. How can you get in touch?

      I'm delighted to hear that you're interested in taking this further. You can contact me with your project details at <a href="mailto:peng@nylira.com">peng@nylira.com</a>. Any questions and comments are welcome too.


      If you wish to see some of my work, view [my Projects page](../projects). If you want to read more of my writing, view [my Articles page](../articles).
