extends layouts/base

block title
  | Projects

block container

  .header
    .main
      h1.title Projects

  .body
    p This is a select list of my official projects since 2010. Take a look at how my web interfaces have evolved over the years.
    ul.blocks
      - for project in projects
        li: a.block(href=depth + project.slug + '/')
          .title!= project.meta.title
          .date= moment(project.meta.date).format("YYYY-MM-DD")
          .sub View Project
