body.contact
  #content
    section.contact

      section.details
        dl
          margin 0 0 2em
          dt
            float left
            display block
            clear left
            pr .33em
            &:after
              display inline
              content ':'
              pr 0

          dd
            display block

        section.address
          margin 0 0 2em
          ul
            li
              a
                color txt
                &:hover
                  color anchor


      .map
        iframe
          display block
          mb m
          max-width: 100%
        a
          color anchor !important
          &:hover
            color #fff
