body.projects

  #content

    section.projects
      menu.past-clients
        display none
       
    ol.projects
      clear()
      
      li.project
        mar 0 0 2em
        pad 0 0 1em
        clear()
        bb 1px solid edge
        &:first-of-type
          bl none

        iframe, ul.slideshow
          display block
          height 300px
          width 600px
          background m100
          box-shadow b30 0 3px 10px
          margin 0 0 m
          overflow hidden

         h3, time
          float left
          font-weight bold
          font-size m
          font-smoothing()
          text-transform uppercase
          letter-spacing 1px
          display inline

        time
          color accent
          margin-left .3em
     
        a
          display block
          float right
          color #555
          transition()
          &:after
            display inline
            content: '\0020\21B5'
          &:hover
            color #fff
