body.contact
  #content
    section.contact
      width 640px
      float left
      pl 320px

      .details
        width 320px
        float left
        ml -320px
        dl
          margin 0 0 m
          dt
            float left
            display block
            clear left
            padding-right .33em
            &:after
              display inline
              content ':'

          dd
            display block

        p
          margin 0 0 m

      .map
        iframe
          display block
          mb m
          border 1px solid #999
        a
          color anchor !important
