a.block-client
  margin 0 0 x

  display flex
  flex-flow column no-wrap

  .thumb
    background bg3
    border 1px solid bc
    border-bottom-width 0.5*x
    margin 0 0 0.5*x
    overflow hidden
    img
      display block
      width 100%
      max-width 320px
      height auto
      transition ease 0.1s

  .text
    display flex
    justify-content space-between
    .title
      c txt
      font-weight 600
      max-width 60em

    .sub
      c light
  &:hover
    .thumb
      img
        transform scale(1.2)

    .text
      .title
        color link

@media (min-width: 360px)
  a.block-client
    .thumb img
      min-width 100%

@media (min-width: 720px)
  a.block-client
    flex-flow row no-wrap
    margin 0 0 1.5*x

    .thumb
      margin 0

    .text
      flex 1
      flex-flow column no-wrap
      justify-content center
      border-top 1px solid bc
      margin-left x

      .title
        font-size 1.25*x
