body.article
body.expertise
body.clients
body.contact
body.about
  #container
    .body
      > p:first-of-type
        ff serif
        font-size 1em
        mb 1.5em

body.article
body.about
  span.project
    d none
  #container .body
    > p:first-of-type
      bb 1px solid bc
      mb 1.5em
      pb 1.5em     

body.clients
  span.article
    d none
  #container .body
     > p:first-of-type
      em
        c light

#container
  clearfix()

  .header
    mb 1.875em
    ta center

    p.date
      m 0
      span.label
        d none

    h1
      s 2em
      fw 900
      lh 1.25em
      ls -1px
      c link

#container
  .body.text

    p, li, .p
      ff serif

    p, ul, ol, blockquote, h2, h3, h4, h5, h6, .figure
      a
        bb 1px solid txt

    h3, h3
      vertical-align top

    h2
      s 1.25em
      fw bold
      lh 1.25
      mb 0.75em
      mt 1.5em
      a
        bb 2px solid txt

    h3
      fw bold

    code
      font-family mono

    img
      max-width 100%
      b 1px solid bc
      bb none

    ul, ol
      pl 2em

    ul
      lst square

    ol
      lst decimal

    .figure
      mb 1.5em
      img
        d block

      .figcaption
        bg txt
        p .5em 0.75em
        p
          s 0.75em
          c #eee
          ff sans
          m 0

    .aside
      w 240px
      fl()
      ml -320px
      d none
      h3, .content
        bg bg3
      h3
        h x*1.25 + x*2
        lh 1.25em
        p x
        mb 1px
      .content
        s 85%
        p x*0.75 x
        ul
          mb 0

    p, ul, ol, pre, blockquote
      m 0 0 1.5em
      max-width 60em

    p code, h2 code, h3 code
      p 0 0.25em
      bg bg2
      f 90%/120% mono
      d inline-block

    pre
      code
        lh 1.25em

  .footer
    clearfix()
    bt 1px solid bc
    m 0 0 1.5em
    p.meta
      c dim
      s 0.75em
      lh 2em
