body.article
body.projects
body.contact
body.about
  #container .body
     > p:first-of-type
      font-size 1.25em
      mb 1.5em

body.article
body.about
  span.project
    d none
  #container .body
     > p:first-of-type
      bb 1px solid txt
      mb 1em
      pb 1em     

body.projects
  span.article
    d none

#container

  clearfix()

  .header
    mb 1.5em

    p.date
      c light
      font-size 0.75em
      m 0 0 0.5em
    h1
      font 2em/1 sans
      ls -1px

  .body
    pb 1.5em
    bb 1px solid txt

    ul.table-of-contents
      fl()
      w 200px
      m 0 1em 1em 0
      li
        bt 1px solid #ddd
        a
          d block
          p 0 0.5em
          f 90%/2 sans
          c txt
          &:hover
            c link

    h3, h3
      vertical-align top

    h2
      font bold 1.5em/1.5 sans
      mb 1em
      mt 2em

    h3
      fw bold

    code
      font-family mono

    img
      max-width 100%
      b 1px solid txt

    .figure
      mb 3em
      img
        d block
      .figcaption
        bg #000
        p .5em 0.75em
        p
          c #fff
          m 0

    p, ul, ol, pre, blockquote
      m 0 0 1.5em
      max-width 60em

    p code, h2 code, h3 code
      p 0 0.25em
      bg #eee
      f 90%/120% mono
      d inline-block

    pre
      border 1px solid #ddd
      padding 1em
      code
        lh 1.25em

  .footer
    mb 3em
    clearfix()
    p.meta
      font-size 0.75em
      line-height 3em
