body.article
body.projects
body.contact
body.profile
  #container
    .body
      > p:first-of-type
        font-size 1.25em
        ff sans
        mb 1.5em

body.article
body.projects
  #container
    .body
      bb 1px solid txt

body.article
body.profile
  span.project
    d none
  #container .body
    > p:first-of-type
      bb 1px solid txt
      mb 1.5em
      pb 1.5em     

body.projects
  span.article
    d none
  #container .body
     > p:first-of-type
      em
        c light

#container
  clearfix()

  .header
    mb 1.875em
    ta center

    p.date
      m 0
      ff sans

    h1
      font bold 2em/1.25 sans
      ls -1px

#container
  .body
    pb 1.5em

  .body.text

    p, ul, ol, blockquote, h2, h3, h4, h5, h6, .figure
      a
        td underline

    h3, h3
      vertical-align top

    h2
      font bold 1.5em/1.25 sans
      mb 0.75em
      mt 1.5em

    h3
      fw bold

    code
      font-family mono

    img
      max-width 100%
      b 1px solid txt

    .figure
      mb 3em
      img
        d block
      .figcaption
        bg #000
        p .5em 0.75em
        p
          c #fff
          m 0

    p, ul, ol, pre, blockquote
      m 0 0 1.5em
      max-width 60em

    p code, h2 code, h3 code
      p 0 0.25em
      bg #eee
      f 90%/120% mono
      d inline-block

    pre
      border 1px solid #ddd
      padding 1em
      code
        lh 1.25em

  .footer
    mb 3em
    clearfix()
    p.meta
      font-size 0.75em
      line-height 3em
