section#section-footer
  .wrapper
    padding-top x

  p, li
    margin-bottom 0.5*x

@media (min-width: 768px)
  section#section-footer
    .wrapper
      padding-top 2*x

      display flex
      width 100%

      p.copyright
        flex 1
      ul
        flex 2
