#header
  m 0 auto 2em
  bt 4px solid txt
  bb 1px solid txt

  .nav
    ul
      ta center
      mt -4px
      vertical-align top

      li
        d inline-block
        bt 4px solid txt
        h 40px
        vertical-align top
        &#nav-home
          a
            fw bold
            tt lowercase
            font-size 1em
            lhh 36px

        &:hover
          bg #fff
          border-top-color link
          a
            c link
        a
          p 0 .5em
          font-size 0.75em
          ff sans
          d block
          lhh 36px
          c txt

body.home #header #nav-home a
body.profile #header #nav-profile a
body.articles #header #nav-articles a
body.contact #header #nav-contact a
body.projects #header #nav-projects a
body.interaction-design #header #nav-articles a
body.web-dev #header #nav-articles a
body.game-dev #header #nav-articles a
body.privacy #header #nav-articles a
  border-top-color link
