#header
  m 0 auto 1em
  bt 3px solid #000
  bb 1px solid bc

  .nav
    ul
      ta center
      mt -3px
      vertical-align top

      li
        d inline-block
        bt 3px solid #000
        h 39px
        vertical-align top
        &#nav-home
          a
            tt lowercase
            font-size 1em
            lhh 36px
            font-weight bold

        &:hover
          border-top-color #fff

        a
          p 0 .5em
          font-size 0.75em
          ff sans
          d block
          lhh 36px
          c txt

body.home #header #nav-home
body.about #header #nav-about
body.articles #header #nav-articles
body.contact #header #nav-contact
body.projects #header #nav-projects
body.interaction-design #header #nav-articles
body.web-dev #header #nav-articles
body.game-dev #header #nav-articles
body.privacy #header #nav-articles
  border-top-color #fff
  &:hover
    a
      c txt
