#home-header
  mb 2em
  d table
  w 100%

  .cell
    h 100%
    d table-cell

    h1
      s 1.25em
      lh 1.5em
      ls -0.025em
      c light
      a
        font-weight bold
        bb 2px solid light
