#home-header
  h 8em
  m 0 0 2em
  bg bg3
  d table
  w 100%

  .cell
    h 100%
    d table-cell
    vertical-align middle
    text-align center

    h1
      font-size 1.5em
      ff sans
      lh 1.25em
      p 0 1em
      ls -1px
      a
        &:hover
          td underline
