.article-header
.article-footer
  max-width 50 * x
  margin-left auto
  margin-right auto

.article-header
  margin 0 0 1.5*x

  h2
    color light
    text-transform uppercase
    font-weight 600

  h1
    font-weight bold
    font-size 2*x
