body.article
body.clients
  .article-header
    padding-top 1.5*x
  .article-footer
    padding-bottom 1.5*x

.article-header
.article-footer
  max-width 50 * x
  margin-left auto
  margin-right auto

.article-header
  margin 0 0 1.5*x

  h2
    color light
    text-transform uppercase
    line-height 1.25em
    margin 0 0 0.5*x

  h1
    font-weight bold
    font-size 2*x
    line-height 1.25em

.article-footer
  clearfix()
  bt 4px solid bc
  margin 1.5*x 0 x
  p.meta
    c dim
    lh 3em

@media (min-width: 720px)
  body.about
  body.article
    #container
      padding 2*x 0


@media (min-width: 960px)

  .article-header
  .article-footer
    max-width 50 * x
    margin-left auto
    margin-right auto

  body.article
  body.clients
    .article-header
      padding-top 3*x
    .article-footer
      padding-bottom 3*x


