.article-body
  p, ul, ol, blockquote, h2, h3, h4, h5, h6, .figure
    a
      color txt
      text-decoration underline
      &:hover
        color link

  h1, h2
    s 1.25em
    fw 600
    lh 1.25
    mb 0.75em
    mt 1.5em

  h3
    fw bold

  code
    font-family mono

  iframe
    margin 0 auto
    display block

  img
    max-width 100%
    b 1px solid bc
    bb none

  ul, ol
    pl 2em

  ul
    lst square

  ol
    lst decimal

  .figure
    mb 1.5em
    img
      d block

    .figcaption
      bg txt
      p .25em 0.5em
      p
        s 0.75em
        c #eee
        ff sans
        m 0

  .aside
    w 240px
    fl()
    ml -320px
    d none
    h3, .content
      bg bg3
    h3
      h x*1.25 + x*2
      lh 1.25em
      p x
      mb 1px
    .content
      s 85%
      p x*0.75 x
      ul
        mb 0

  p, ul, ol, pre, blockquote
    m 0 0 1.5em
    max-width 60em

  > p:first-of-type
    margin-bottom 1.5*x
    border-bottom 4px solid bc
    padding-bottom 1.5*x

  p code, h2 code, h3 code
    p 0 0.25em
    bg bg2
    f 90%/120% mono
    d inline-block

  pre
    code
      lh 1.25em

  .footer
    clearfix()
    bt 1px solid bc
    m 0 0 0.5em
    p.meta
      c dim
      lh 3em

@media (min-width: 375px)
  .article-body .figure .figcaption p
    font-size 0.8725em

@media (min-width: 414px)
  .article-body
    > p:first-of-type
      font-size 1.125*x

    .figure .figcaption p
      font-size x

@media (min-width: 640px)
  .article-body > p:first-of-type
    font-size 1.25*x

@media (min-width: 996px)
  .article-body
    h2, h3, p, .p, ul, ul.blocks
      max-width 50 * x
      margin-left auto
      margin-right auto
