.category
  mb 2em

  .category-name
    f bold 1em/2.8 sans
    bt 1px solid #666
    bb 1px solid #ddd
    c #900
    p 0 0.66em
    m 0 0 .5em


  ul
    li
      p 0.75em 0

      a
        d block
        c txt
        clearfix()
        f 1.25em/1.5 sans
        p 0 .33em

        &:hover
          c link

        .title
          d block

        .date
          c light
          f .75em/1.5 sans

