.category
  mb 3em

  .category-name
    f 1.25em/2 sans
    c light

  ul

    li

      a
        d block
        c txt
        clearfix()
        f 1em/2 sans

        &:hover
          c link

        .title
          d block
          fl()

        .date
          c light
          fr()
