#container
  max-width 48em
  margin 0 auto
  font 16px/1.5 Georgia

  .header
    mb 3em

    h1
      font bold 6em/1 sans
      ls -4px


  ul.table-of-contents
    fl()
    w 240px
    p 1em
    b 1px solid #ddd
    m 0 1em 1em 0

  hr 
    d block
    clearfix()
    mb 4em

  p, ul, ol
    m 0 0 1em

  p.meta
    font italic 16px/1.5 Georgia
    color #666


  h2
    font 1.5em/1.5 Times New Roman, Times, serif
    mb 1em

  pre
    border 1px solid #ddd
    padding 1em

  code
    font 1em/1.25 Consolas, Menlo, monospace
