#container
  max-width 48em
  margin 0 auto
  font 16px/1.5 Georgia

  .header
    mb 3em

    h1
      font bold 6em/1 sans
      ls -4px

  .body
    ul.table-of-contents
      fl()
      w 200px
      m 0 1em 1em 0
      li
        bt 1px solid #ddd
        a
          d block
          p 0 0.5em
          f 90%/2 sans
          c txt
          &:hover
            c link

    h3, h3
      vertical-align top

    h2
      font bold 1.5em/1.5 sans
      mb 1em
      mt 2em

    h3
      fw bold

    code
      font-family mono

    p, ul, ol, pre, blockquote
      m 0 0 1.5em

    p:first-of-type
      f 1.5em/1.5 serif
      bb 1px solid #ddd
      mb 1.5em
      pb 1.5em

    p code, h2 code, h3 code
      p 0 0.25em
      bg #eee
      f 90%/120% mono
      d inline-block

    pre
      border 1px solid #ddd
      padding 1em
      code
        lh 1.25em

  .footer
    p.meta
      font italic 16px/1.5 Georgia
      color #666
