#footer
  p 3em 0
  mb 0
  bt 1px solid #ddd

  ul
    clearfix()

    li
      w 33%
      fl()

      a, .block
        d inline-block
        bl 1px solid #ddd
        p 0 1em
        f 1em/3 sans
        c txt
      a
        &:hover
          c link
