#footer
  p 3em 0
  bt 1px solid #ddd
  bg txt

  ul
    li
      a, .block
        d block
        f 1em/3 sans
        c #ccc
        bt 1px solid #555
        p 0 .5em
      a
        &:hover
          c link
