#header
  m 0 auto 2em
  bt 4px solid txt
  bb 1px solid txt

  .nav
    ul
      ta center
      li
        font-size 0.75em
        h 3em
        d inline-block
        a
          d block
          lh 3em
          p 0 .5em
          bt 4px solid txt
          mt -4px
          c txt
          &:hover
            bg #fff
            border-top-color link
