#header
  w 50em
  bb 1px solid #ddd
  m 0 auto 3em
  bt 4px solid txt
  bb 1px solid light

  a#brand
    d block
    bg txt
    f 1.5em sans
    c #fff
    w 48px
    lhh 48px
    ta center
    &:hover
      bg link
