#header
  m 0 auto 2em
  bt 4px solid txt
  bb 1px solid txt

  .nav
    ul
      ta center
      li
        font-size 0.75em
        h x*0.75*3 + 4px
        d inline-block
        a
          d block
          p 0 .5em
          lh 3em
          c txt
          bt 4px solid txt
          mt -4px
          &:hover
            bg #fff
            border-top-color link

body.home #header #nav-home a
body.about #header #nav-about a
body.projects #header #nav-projects a
body.interaction-design #header #nav-articles a
body.web-dev #header #nav-articles a
body.game-dev #header #nav-articles a
body.privacy #header #nav-articles a
  border-top-color link
