section, .section
  p 0 0 2em
  bt 3px solid #333

  .section-header
    font-size 0.75em
    fw bold
    lh 2em
    m 0 0 1em

    a:hover
      td underline
  .body
    p.bottom
      s 0.75em
      a
        td underline
