section, .section
  p 0 0 2em
  bt 2px solid txt

  .section-header
    font-size 0.75em
    lh 2em
    m 0 0 1em

    a
      fw bold
      &:hover
        td underline

  .body
    p.bottom
      s 0.75em
      a
        bb 1px solid txt
