ul.blocks
  li
    m 0 0 1em
    .block, a.block
      d block
      p 0.75em 1.25em
      b 1px solid bc
      relative()
      .title
        font-size 1.25em
        ff sans
        c txt
      .date, .sub
        c anchor
        font-size 0.75em
      .date
        absolute()
        top 1em
        right 0
        w 100px
        c txt
        lhh 1.5em
        ta center
        bg bg3
        d none
    a.block
      &:hover
        border-color link
        .date
          bg link

