ul.blocks
  li
    m 0 0 1em
    .block, a.block
      d block
      p 1em 1.25em
      b 1px solid bc
      relative()

      .title
        font-size 1.25em
        ff sans
        c txt
        ls -0.025em
        line-height 1.25em
        margin 0 0 0.25em

      .sub
        c light
        font-size 0.75em
        fw bold

      .thumb
        absolute()
        top -1px
        left -321px
        w 320px
        bg bg3
        h 86px
        overflow hidden
        display none
        img
          w 320px
          h 86px
          transition ease 0.1s

    a.block
      &:hover
        border-color link
        .thumb
          img
            transform scale(1.25)
