ul.blocks
  li
    m 0 0 1em
    .block, a.block
      d block
      p 0.75em 1.25em
      b 1px solid txt
      .title
        font-size 1.25em
        c anchor
      .date, .sub
        c txt
        font-size 0.75em
    a.block
      &:hover
        border-color link

