#content
  .markdown
    font-family serif
    font-smoothing()

    strong
      font-weight bold

    em
      font-style italic

    h2
      font 150%/1.5 sans
      color txt
      text-transform none
      mar m*2 0 m
      letter-spacing 0
      font-smoothing auto

    p, ul, ol, img, pre, blockquote
      mar 0 0 1.5em

    p
      &:first-of-type
        font 150%/1.5 serif
    ul
      list-style square

    ol
      list-style decimal

    img
      margin 0 0 1.5em

    pre
      bg w5
      pad .75em 1em
      code
        bg none
        font sm/1 mono
        pad 0
        
