header.index
  cnt()
  width 100%
  position fixed
  top 0
  left 0
  bg rgba(48,48,48,.9)
  border-bottom 1px solid edge
  border-top 3px solid #000
  font-size sm
  font-smoothing()

  a
    color #999
    transition()
    bt 3px solid transparent
    mt -3px
    &:hover
      color #ccc
      border-color anchor

  h1 
    col(4)
    a
      display block
      font bold 1.5em sans
      line-height 2em
      color #ccc
      text-transform lowercase
  
  nav
    col(8)
    ul
      clear()
      li
        col(2)
        width c*2 - 1px
        border-left 1px solid edge
        clear()
        a
          font-weight bold
          display block
          line-height 3em
          text-align center
          text-transform uppercase
          letter-spacing 1px
  menu
    li
      float left

body.home h1.index.home a
body.projects li.index.projects a
body.articles li.index.articles a
body.article li.index.articles a
body.profile li.index.profile a
body.contact li.index.contact a
li.index.active a
  border-color anchor
