pad()
  padding arguments

mar()
  margin arguments

mt(n)
  margin-top n

mr(n)
  margin-right n

mb(n)
  margin-bottom n

ml(n)
  margin-left n

pt(n)
  padding-top n

pr(n)
  padding-right n

pb(n)
  padding-bottom n

pl(n)
  padding-left n

bg()
  background arguments

bt()
  border-top arguments

br()
  border-right arguments

bb()
  border-bottom arguments

bl()
  border-left arguments

bs()
  br arguments
  bl arguments

be()
  bt arguments
  bb arguments

bc(t = 1px solid #fff, r = 1px solid #999, b = 1px solid #000, l = 1px solid666)
  bt t
  br r
  bb b
  bl l
