pad()
  padding arguments

mar()
  margin arguments

mt()
  margin-top arguments

mr()
  margin-right arguments

mb()
  margin-bottom arguments

ml()
  margin-left arguments

pt()
  padding-top arguments

pr()
  padding-right arguments

pb()
  padding-bottom arguments

pl()
  padding-left arguments

bg()
  background arguments

bt()
  border-top arguments

br()
  border-right arguments

bb()
  border-bottom arguments

bl()
  border-left arguments

bs()
  br arguments
  bl arguments

be()
  bt arguments
  bb arguments

bc(t = 1px solid #fff, r = 1px solid #999, b = 1px solid #000, l = 1px solid666)
  bt t
  br r
  bb b
  bl l
