serif = Georgia, 'serif'
mono = Consolas, 'Lucida Console', Monaco, Courier New, monospace
sans = DIN, 'Helvetica Neue', Arial, Helvetica, sans-serif
lucida = 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif 

text-smoothing(n = antialiased)
  -webkit-font-smoothing n

@font-face
  font-family DIN
  src url('../f/dinr____-webfont.eot')
  src url('../f/dinr____-webfont.eot?iefix') format('eot'), url('../f/dinr____-webfont.woff') format('woff'), url('../f/dinr____-webfont.ttf')  format('truetype'), url('../f/dinr____-webfont.svg#svgFontName') format('svg')

@font-face
  font-family DIN
  font-weight bold
  src url('../f/dinb____-webfont.eot')
  src url('../f/dinb____-webfont.eot?iefix') format('eot'), url('../f/dinb____-webfont.woff') format('woff'), url('../f/dinb____-webfont.ttf')  format('truetype'), url('../f/dinb____-webfont.svg#svgFontName') format('svg')
