canvas = 960px
columns = 12

c = canvas / columns * 1px
gutter = c / 8
gut = gutter / 2

clear()
  &:after
    display block
    clear both
    content ''

span(n)
  width c * n

cnt(n = 12)
  span n
  margin 0 auto
  clear()

col(n)
  span n
  float left

colm(n)
  col n - gutter
  margin 0 gut

colp(n)
  col n - gutter
  padding 0 gut
