canvas = 960px
columns = 12

c =   canvas / columns * 1px
gutter =  c / 8
gut =  gutter/2

clear()
  &:after
    display block
    clear both
    content ''

span()
  width c * arguments

cnt(arguments = 12)
  span arguments
  pl m*4
  clear()

col() 
  span arguments
  float left

colm() 
  col arguments-gutter
  margin 0 gut

colp()
  col arguments-gutter
  padding 0 gut
