@import 'mixins/reset'
@import 'mixins/grid'
@import 'mixins/shades'
@import 'mixins/brevity'
@import 'mixins/mixins'
@import 'mixins/fonts'

@import 'root/body'
@import 'root/markdown'
@import 'root/header'
@import 'root/footer'

@import 'root/home'

@import 'profile/index'
@import 'projects/index'

@import 'articles/index'
@import 'articles/article'

@import 'contact/index'
