#content
  cnt()

  h2
    margin 0 0 m

  header.main
    pad 2em 0
    bb 1px solid #ddd
   
    aside
      padding m*8 0
      font bold 400%/1 sans
      letter-spacing -3px
      text-align center
      color #666
      text-smoothing()
      background #000
      a
        color #fff
        border-bottom 3px solid anchor
        text-decoration none
        transition()
        &:hover
          color anchor

  section
    pad 2em 0
    &.about
      col(4)

    &.articles
      col(8)
      ul.articles
        li.article
          h3
            font 1.5em/1.5 serif
            a
              color txt
              text-decoration none
              &:hover
                text-decoration underline
          
