body.articles
  #content
    section.articles
      width 640px
      float left
      pl 320px

      ul.articles
        li.article
          time
            display block
            width 240px
            float left
            ml -320px - m*2 - 1px
            text-align right
            alt-font()
