section#section-footer
  .wrapper

    p.copyright
      | Nylira &copy; 2010&mdash;

    ul
      li Nylira is a web development consultancy by Peng Zhong.
      li.based Based in San Francisco, USA.
      li
        a(href='mailto:peng@nylira.com') peng@nylira.com
        |  &middot; 
        a(href='//twitter.com/zcpeng') @zcpeng
        |  &middot; 
        a(href='https://github.com/nylira') github</a>
        |  &middot; 
        a(href='http://nylira.com/rss.xml') subscribe
