p.copyright
  | &copy; Nylira 2010&ndash;
  = new Date().getFullYear()

ul
  li Nylira is a web development consultancy by Peng Zhong. Based in California, USA.
  li
    a(href='mailto:peng@nylira.com') peng@nylira.com
    |  &middot; 
    a(href='//twitter.com/zcpeng') @zcpeng
    |  &middot; 
    a(href='https://github.com/nylira') github</a>
    |  &middot; 
    a(href='http://nylira.com/rss.xml') subscribe
