p.copyright &copy; Nylira 2010&ndash;2015

ul
  li Nylira is an interaction design consultancy by Peng Zhong.  
  li
    a(href='mailto:peng@nylira.com') peng@nylira.com
    |  &middot; 
    a(href='//twitter.com/zcpeng') @zcpeng
    |  &middot; 
    a(href='https://github.com/nylira/') github</a>
    //| &middot;
    //a(href='nylira.com/atom.xml') subscribe
