html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
a{color:#eb0062;text-decoration:none;}
a:hover{color:#fff}
html>body,body{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:16px;line-height:150%;color:#ccc;text-rendering:optimizeLegibility;background:#282828}
code{font-family:Consolas,"Lucida Console",Monaco,Courier New,monospace;font-size:90%;background:#eee;padding:0 .2em}
pre{margin:0 0 16px}
h2{color:#eb0062;text-transform:uppercase;font-size:75%;letter-spacing:1px}
header.index{width:960px;padding-left:4em;-webkit-font-smoothing:antialiased;width:100%;position:fixed;top:0;left:0;border-bottom:1px solid rgba(255,255,255,0.1);border-top:3px solid #000;background:rgba(51,51,51,0.6);}
header.index:after{display:block;clear:both;content:""}
header.index:after{display:block;clear:both;content:""}
header.index a{font-size:13px;line-height:150%;color:#999;transition:all .15s ease;-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-o-transition:all .15s ease;border-top:3px solid transparent;position:relative;top:-3px;}
header.index a:hover{color:#ccc;border-color:#eb0062}
header.index h1{width:320px;float:left;}
header.index h1 a{display:block;font:bold 1.5em / 2 "Helvetica Neue",Arial,Helvetica,sans-serif;line-height:36px;color:#ccc}
header.index nav{width:640px;float:left;}
header.index nav ul li{width:160px;float:left;width:159px;border-left:1px solid rgba(255,255,255,0.1);height:39px;}
header.index nav ul li a{font-weight:bold;display:block;line-height:39px;text-align:center;text-transform:uppercase;letter-spacing:1px}
header.index menu li{float:left}
body.home h1.index.home a,body.projects li.index.projects a,body.articles li.index.articles a,body.article li.index.articles a,body.profile li.index.profile a,body.contact li.index.contact a,li.index.active a{border-color:#eb0062}
#content{padding:75px 0 0;width:960px;padding-left:4em;-webkit-font-smoothing:antialiased;}
#content:after{display:block;clear:both;content:""}
#content h1{font:bold 200% / 1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;margin:0 0 32px}
#content h2{margin:0 0 16px}
body.home header.main{padding-bottom:2em;border-top:1px solid #fff;border-bottom:1px solid #ccc;}
body.home header.main aside{padding:128px 0;font:bold 400% / 1 "Helvetica Neue",Arial,Helvetica,sans-serif;letter-spacing:-3px;text-align:center;color:#666;-webkit-font-smoothing:antialiased;background:#000;border:2px solid #fff;}
body.home header.main aside a{color:#fff;border-bottom:4px solid #eb0062;text-decoration:none;transition:all .15s ease;-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-o-transition:all .15s ease;}
body.home header.main aside a:hover{color:#eb0062}
body.home section.about,body.home section.articles{border-top:1px solid #fff;padding:2em 0 0}
body.home section.about{width:320px;float:left}
body.home section.articles{width:640px;float:left;}
body.home section.articles ul.articles{margin:0 0 32px;}
body.home section.articles ul.articles li.article{margin:0 0 32px}
footer.index{padding:2em 0;width:960px;padding-left:4em;font-size:85%;}
footer.index:after{display:block;clear:both;content:""}
footer.index p.copyright{width:320px;float:left;}
footer.index p.copyright a{color:#ccc;border-bottom:none;}
footer.index p.copyright a:hover{color:#eb0062;border-bottom:1px solid #eb0062}
footer.index nav.index{width:640px;float:left}
body.profile #content section.profile{width:640px;float:left;padding-left:320px}
body.projects #content{padding:0;min-width:200%;}
body.projects #content ol.projects{white-space:nowrap;}
body.projects #content ol.projects:after{display:block;clear:both;content:""}
body.projects #content ol.projects li.project{display:inline-block;padding:6em 4em 2em;border-right:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(255,255,255,0.1);}
body.projects #content ol.projects li.project iframe{display:block;background:#646464;-webkit-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;-moz-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;-o-box-shadow:rgba(0,0,0,0.3) 0 3px 10px;box-shadow:rgba(0,0,0,0.3) 0 3px 10px;margin:0 0 1.5em;overflow:hidden}
body.projects #content ol.projects h3,body.projects #content ol.projects time{font:bold 125% / 1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;-webkit-font-smoothing:antialiased;text-transform:uppercase;letter-spacing:1px;display:inline}
body.projects #content ol.projects time{color:#555}
body.projects #content ol.projects a{display:block;float:right;color:#555;transition:all .15s ease;-webkit-transition:all .15s ease;-moz-transition:all .15s ease;-o-transition:all .15s ease;}
body.projects #content ol.projects a:after{display:inline;content:"\0020\21B5"}
body.projects #content ol.projects a:hover{color:#fff}
body.projects footer.index{display:none}
body.articles #content section.articles{width:640px;float:left;padding-left:320px;}
body.articles #content section.articles ul.articles li.article{padding:1em 0 1.5em;border-top:1px solid #ddd;}
body.articles #content section.articles ul.articles li.article article time{display:block;width:320px;float:left;margin-left:-336px;text-align:right;color:#888;font-size:85%}
body.article #content article{width:-640px;float:left;padding-left:320px;margin:0 0 2em;}
body.article #content article h1{margin:0}
body.article #content article menu.switch{width:320px;float:left;margin-left:-336px;font-size:85%;}
body.article #content article menu.switch ul{float:right;}
body.article #content article menu.switch ul li{float:left;}
body.article #content article menu.switch ul li.prev:after{content:"|";display:inline-block;width:.75em;text-align:center}
body.article #content article h2{color:#ccc;font:130% / 1.5 Georgia,"serif";text-transform:none;margin:32px 0 16px}
body.article #content article p{margin:0 0 16px;}
body.article #content article p.meta{font-size:85%;margin:0 0 32px}
body.article #content p.all.articles{width:640px;float:left;padding-left:320px}
body.contact #content section.contact{width:640px;float:left;padding-left:320px;}
body.contact #content section.contact .details{width:320px;float:left;margin-left:-320px;}
body.contact #content section.contact .details dl{margin:0 0 16px;}
body.contact #content section.contact .details dl dt{float:left;display:block;padding-right:.33em;}
body.contact #content section.contact .details dl dt:after{display:block;clear:both;content:""}
body.contact #content section.contact .details dl dt:after{display:inline;content:":"}
body.contact #content section.contact .details dl dd{display:block}
body.contact #content section.contact .details p{margin:0 0 16px}
body.contact #content section.contact .map iframe{display:block;margin-bottom:16px;border:1px solid #999}
body.contact #content section.contact .map a{color:#eb0062 !important}
