body.profile
  #content
    section.profile
      col 8
      pl c*4

      h2
        font 150%/1.5 sans
        color txt
        text-transform none
        mar m*2 0 m
        letter-spacing 0
        text-smoothing auto

      p
        margin 0 0 1.5em
        &:first-of-type
          font 150%/1.5 sans
