body.profile
  #content
    section.profile
      col 8
      pl c*4

      section.markdown
        aside
          col 4
          ml - c*4
          h2
            alt-font()
            color anchor
            mar 0 0 m
          ul
            list-style none

        ul.process
          ml -320px
          clear()
          mb 1.5em
          li
            col 2
            width 159px - m*2
            margin 0 0 1px 1px
            height 159px - m*2
            padding m
            alt-font()
            list-style none

            &:nth-of-type(1)
              background w2
            &:nth-of-type(2)
              background w4
            &:nth-of-type(3)
              background w6
            &:nth-of-type(4)
              background w8
            &:nth-of-type(5)
              background w10
            &:nth-of-type(6)
              background w12
