body.article
  #content
    article
      col 8
      pl 320px
      mar 0 0 2em

      h1
        mar 0

      menu.switch
        width 320px
        float left
        ml -336px
        font-size 85%
        ul
          float right
          li
            float left
            &.prev:after
              content '|'
              display inline-block
              width .75em
              text-align center

      h2
        font bold 125% sans
        line-height m*2
        color txt
        text-transform none
        mar m*3 0 m*1.5
        letter-spacing auto

      p, ul, ol, img, pre, blockquote
        mar 0 0 1.5em

      p
        &.meta
          font-size 85%
          margin 0 0 m*3

      img
        margin 0 0 1.5em

      pre
        background w5
        padding .75em 1em
        code
          background none

    p.all.articles
      width 640px
      float left
      pl 320px
