body.article
  #content
    article
      col 8
      pl 320px
      mar 0 0 2em

      header
        margin 0 0 3em
        h1
          mar 0

        menu.switch
          width 240px
          float left
          ml -320px
          font-size sm

          ul
            float right
            li
              alt-font()
              float left
              &.prev:after
                content '|'
                display inline-block
                width 1em
                text-align center
        p.meta
          font-size sm
          color accent

    p.all.articles
      width 640px
      float left
      pl 320px
