body.article
  #content
    article
      col 8
      pl 320px
      mar 0 0 2em

      header
        margin 0 0 3em
        h1
          mar 0

        menu.switch
          width 240px
          float left
          ml -320px
          font-size sm

          ul
            float right
            li
              alt-font()
              float left
              &.prev:after
                content '|'
                display inline-block
                width 1em
                text-align center
        p.meta
          font-size sm
          color accent

    p.twitter
      width 640px
      float left
      ml 320px
      mb 4em
      a
        color txt
        display block
        padding .75em 1em
        background w5
        transition()
        em
          color anchor
          font-style normal
        &:hover
          background w10

      

    p.all.articles
      width 640px
      float left
      pl 320px

    dl.comparison
      clear()
      dt, dd
        height m*3
        padding m*.75 m
        bg w5
        alt-font()
        mb 1px
      dt
        width 319px - m*2
        float left
        mr 1px
      dd
        width 320px - m*2
        float left
        color txt
      
        span
          display block
          font-size 200%
          pt .2em
          font-weight normal
