body.articles
  #content
    section.articles
      pad 2em 0 2em c*4

      h1
        margin 0 0 m*2

      ul.articles
        li.article
          margin 0 0 m

body.article
  #content
    article
      pad 2em 0 2em c*4
      col(8)

      p
        mar 0 0 m
        &.meta
          font-size 85%
          margin 0 0 m*2
