body.articles
  #content
    section.articles
      col 8
      pl c*4

      ul.articles
        li.article
          padding 1em 0 1.5em
          bt 1px solid w10

          article
            time
              display block
              col 4
              ml - c*4 - m
              text-align right
              color accent
              font-size 85%
