body.articles
  #content
    section.articles
      col 8
      pl c*4

      h1
        margin 0 0 m*2

      ul.articles
        li.article
          margin 0 0 m
          bb 1px solid #ddd

          article
            time
              display block
              col 4
              ml - c4 - m
              text-align right
              color accent
              font-size 85%
            section.summary
              margin 0 0 m

body.article
  #content
    article
      pad 2em 0 2em c*4
      col 8

      p
        mar 0 0 m
        &.meta
          font-size 85%
          margin 0 0 m*2
