m = 16px
sm = 13px

txt = m204
accent = m85
edge = w10

hue = 335
anchor = hsl(hue,100,50)

a
  color anchor
  text-decoration none
  &:hover
    color #fff

default-font()
  font-family sans
  font-size m
  line-height 160%
  color txt

alt-font()
  font bold sm sans
  line-height m*1.5
  text-transform uppercase
  text-smoothing()
  color accent
  letter-spacing 1px

/* since the site isn't center aligned, this isn't necessary
  html>body
    overflow-y scroll
*/

body
  default-font()
  text-rendering optimizeLegibility
  background m30

#content
  padding m*4 + 4px + 39px 0 4em
  cnt()

  h1
    font bold 200%/1.5 sans
    margin 0 0 m*2
    text-smoothing()

  h2
    alt-font()
    color anchor
    mar 0 0 m

  h3, .h3
    font 150%/1.5 sans
    display block
    a
      color txt
      transition
      bb 1px solid transparent
      &:hover
        bc anchor

  code
    font-family mono
    font-size 90%
    background w7
    padding 0 .4em

  ul.articles
    li.article
      margin 0 0 m*2
      a
        display block
        border 1px solid edge
        padding 1.5em 2em
        h3, .h3
          color txt
        &:hover
          border-color anchor
          p.read.more, span.read.more
            color anchor
