m = 16px
sm = 13px

txt = m204
accent = m85
edge = w10

hue = 335
anchor = hsl(hue,100,50)

a
  color anchor
  text-decoration none
  &:hover
    color #fff

default-font()
  font-family sans
  font-size m
  line-height 160%
  color txt

/* since the site isn't center aligned, this isn't necessary
  html>body
    overflow-y scroll
*/

body
  default-font()
  text-rendering optimizeLegibility
  background m30


#content
  padding m*4 + 4px + 39px 0 4em
  cnt()

  h1
    font bold 200%/1.5 sans
    margin 0 0 m*2
    text-smoothing()

  h2
    font bold sm sans
    color anchor
    text-transform uppercase
    text-smoothing()
    letter-spacing 1px
    mar 0 0 m

  h3
    font 125% sans
    line-height m*2
    a
      color txt
      transition
      bb 1px solid transparent
      &:hover
        bc anchor

  code
    font-family mono
    font-size 90%
    background w7
    padding 0 .4em

  pre
    display block
    mar 0 0 m
    background w5
    padding .75em 1em
    code
      background none

  ul.articles
    li.article
      margin 0 0 m*2
      a
        display block
        border 1px solid edge
        padding 1.5em 2em
        h3
          color txt
        &:hover
          border-color anchor
          p
            color anchor
