m = 16px
txt = #333
accent = #888

anchor = #c05

a
  color anchor
  text-decoration none
  bb 1px solid anchor
  &:hover
    bb none

default-font()
  font-family serif
  font-size m
  line-height 150%
  color txt

html>body
  overflow-y scroll

body
  default-font()
  text-rendering optimizeLegibility
  background m242
  border-top 4px solid #000

code
  font-family mono
  font-size 90%
  background #eee
  padding 0 .2em

pre
  mar 0 0 m

h2
  color anchor
  font-family sans
  font-weight bold
  text-transform uppercase
  font-size 75%
  letter-spacing 1px
