#content
  mt 3em
  padding 2em 0 0

  h1
    font 200%/1.5 serif
    margin 0 0 m*2

  h2
    margin 0 0 m


body.home
  #content
    min-width 200%

    section.colophon
      border-right 1px solid m60
      background m70
      height 100%
      width 200px
      position fixed
      top 0
      left 0
      display none

    ol.projects
      clear()
      white-space nowrap
      
      li.project
        display inline-block
        br 1px solid m60
        be 1px solid m60
        pad 2em

        iframe
          display block
          width 1024px
          height 600px
          background m100
          box-shadow b50 3px 3px 5px
          margin 0 0 1em
          overflow hidden

       h3, time
        font bold 125%/1.5 sans
        text-smoothing()
        text-transform uppercase
        letter-spacing 1px
        display inline

      time
        color #666
   
      a
        display block
        float right
        color #ccc
      

    header.main
      pb 2em
      bt 1px solid #fff
      bb 1px solid #ccc
     
      aside
        padding m*8 0
        font bold 400%/1 sans
        letter-spacing -3px
        text-align center
        color #666
        text-smoothing()
        bg #000
        border 2px solid #fff
        a
          color #fff
          bb 4px solid anchor
          text-decoration none
          transition()
          &:hover
            color anchor

    section
      &.about, &.articles
        bt 1px solid #fff
        pad 2em 0 0
      &.about
        col 4

      &.articles
        col 8
        ul.articles
          mar 0 0 m*2
          li.article
            mar 0 0 m*2
