#content
  cnt()
  pad 2em 0 4em

  h1
    font 200%/1.5 serif

  h2
    margin 0 0 m

  h3
    font 150%/1.5 serif
    margin 0 0 m
    a
      color txt
      bb none
      &:hover
        bb 1px solid txt

  a
    text-decoration none
    bb 1px solid anchor
    &:hover
      bb none
      text-decoration none


body.home
  header.main
    pb 2em
    bb 1px solid #ddd
   
    aside
      padding m*8 0
      font bold 400%/1 sans
      letter-spacing -3px
      text-align center
      color #666
      text-smoothing()
      background #000
      a
        color #fff
        border-bottom 3px solid anchor
        text-decoration none
        transition()
        &:hover
          color anchor

  section
    &.about, &.articles
      pad 2em 0 0
    &.about
      col 4

    &.articles
      col 8
      ul.articles
        mar 0 0 2em
