#content
  cnt()
  pad 2em 0 4em
  bt 1px solid #fff
  bb 1px solid #ddd

  h1
    font 200%/1.5 serif
    margin 0 0 m*2

  h2
    margin 0 0 m

  h3
    font 130%/1.5 serif
    margin 0 0 m*.75
    a
      color txt
      bb none
      &:hover
        bb 1px solid txt

body.home
  #content
    header.main
      pb 2em
      bt 1px solid #fff
      bb 1px solid #ccc
     
      aside
        padding m*8 0
        font bold 400%/1 sans
        letter-spacing -3px
        text-align center
        color #666
        text-smoothing()
        bg #000
        border 2px solid #fff
        a
          color #fff
          bb 4px solid anchor
          text-decoration none
          transition()
          &:hover
            color anchor

    section
      &.about, &.articles
        bt 1px solid #fff
        pad 2em 0 0
      &.about
        col 4

      &.articles
        col 8
        ul.articles
          mar 0 0 m*2
          li.article
            mar 0 0 m*2
