footer.index
  padding 2em 0
  cnt()
  font-size 81.25%
  bt 1px solid w10

  p.copyright
    col 4
    a
      color txt
      bb none
      &:hover
        color anchor
        bb 1px solid anchor

  nav.index
    col 8
