footer.index
  padding 2em 0
  cnt()
  bt 1px solid #ccc
  font-size 85%

  p.copyright
    col 4
    a
      color txt
      bb none
      &:hover
        color anchor
        bb 1px solid anchor

  nav.index
    col 8
