header.index
  bg -webkit-linear-gradient(top, hsl(0,0,40) 0%, hsl(0,0,30) 50%, hsl(0,0,25) 50%, hsl(0,0,20) 100%)
  text-smoothing()
  clear()
  width 100%
  position fixed
  top 0
  left 0
  bt 1px solid w10
  bb 1px solid b50

  a
    color #ccc
    text-shadow b20 0 1px 0

  h1 
    col(2)
    width c*2 - 1px
    text-transform lowercase
    border-left 1px solid b20
    a
      display block
      font bold 1.5em/2 sans
      line-height m*3 - 2px
      color w100
      bs 1px solid w12
      padding-left m*2
      &:hover
        border-bottom: 3px solid anchor
  
  nav
    col(8)
    ul
      li
        col(2)
        width c*2 - 1px
        border-left 1px solid b20
        a
          font-weight bold
          display block
          line-height m*3 - 2px
          bs 1px solid w12
          text-align center
  menu
    li
      float left

body.home li.index.profile
body.articles li.index.articles
body.article li.index.articles
body.contact li.index.contact
li.index.active
  a:before
    display block
    content: '\203A'
    width m
    height m
    position absolute
    top 0
    left -1em
