header.index
  cnt()
  pad 4em 0 2em
  bb 1px solid #ccc

  h1 
    col(4)
    pad 1em 0 0
    text-transform lowercase
    a
      font bold 2em/1 sans
      color #000
      bb none
      letter-spacing -1px
      &:hover
        border-bottom: 3px solid anchor
  
  nav.indices
    col(8)
    ul
      li.index
        float: left
        col(2)
        a
          color #000
          bb none
          &:hover
            p
              bb 1px solid txt
          p
            font-size 85%
            position relative
            display inline-block


body.home li.index.home
body.profile li.index.profile
body.articles li.index.articles
body.article li.index.articles
body.contact li.index.contact
  a
    p:before
      display block
      content: '\BB'
      width m
      height m
      position absolute
      top 0
      left -1em
