header.index
  text-smoothing()
  clear()
  width 100%
  position fixed
  top 0
  left 0
  border-bottom 1px solid w10

  a
    color #999
    transition()
    bt 3px solid transparent
    &:hover
      color #ccc
      border-color anchor

  h1 
    col(4)
    a
      display block
      font bold 1.5em/2 sans
      line-height m*3 - 3px
      padding-left m*4
      color #ccc
  
  nav
    col(8)
    ul
      li
        col(2)
        width c*2 - 1px
        border-left 1px solid w10
        a
          font-weight bold
          display block
          line-height m*3 - 3px
          text-align center
          text-transform uppercase
          letter-spacing 1px
  menu
    li
      float left

body.home li.index.profile
body.articles li.index.articles
body.article li.index.articles
body.contact li.index.contact
li.index.active
  a:before
    display block
    content: '\203A'
    width m
    height m
    position absolute
    top 0
    left -1em
