body.home
  #content
    pt m*2 + 4px + 39px

    header.main
      pad m*2 0
      bt 1px solid edge
      bb 1px solid edge
     
      aside
        padding m*8 0
        font 200%/1 sans
        text-align center
        color m110
        text-smoothing()
        bg m50
        a
          color #fff
          text-decoration none
          transition()
          &:hover
            color anchor

    section
      &.about, &.articles
        pad 2em 0 0
      &.about
        col 4

      &.articles
        col 8
