{% include en-html-head.html %}
<body class='en contact'>
{% include en-header.html %}
    <section class='contact'>
      <h1>{{ page.title }}</h1>
      <section class="details">
        <dl>
          <dt>Mail</dt>
          <dd><a href="mailto:peng@nylira.com">peng@nylira.com</a>
          <dt>Github
          <dd><a href="https://github.com/nylira">Nylira</a>
          <dt>Twitter
          <dd><a href="//twitter.com/zcpeng">@zcpeng</a>
        </dl>

      <section class='address'>
        <h2>Availability</h2>
        <ul>
          <li>Limited
          <li>I do not accept full-time work
        </ul>
      </section>

      <section class='address'>
        <h2>Location</h2>
        <ul class="address">
          <li><a href="//nylira.com">Nylira, LLC.</a></li>
          <li>Higashiazabu, Minato-ku
          <li>Tokyo, Japan
        </ul>
      </section>
    </section>

      <div class="map"> 
        <iframe width="640" height="640" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Higashiazabu,+Minato,+Tokyo,+Japan&amp;aq=1&amp;sll=35.657686,139.743552&amp;sspn=0.006346,0.011362&amp;vpsrc=0&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=Higashiazabu,+Minato,+Tokyo,+Japan&amp;z=14&amp;ll=35.656412,139.742567&amp;output=embed"></iframe>
        <p><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Higashiazabu,+Minato,+Tokyo,+Japan&amp;aq=1&amp;sll=35.657686,139.743552&amp;sspn=0.006346,0.011362&amp;vpsrc=0&amp;t=v&amp;ie=UTF8&amp;hq=&amp;hnear=Higashiazabu,+Minato,+Tokyo,+Japan&amp;z=14&amp;ll=35.656412,139.742567" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>

    </section>
{% include en-footer.html %}
