{% include en-html-head.html %}
<body class='en contact'>
{% include en-header.html %}
    <section class='contact'>
      <h1>{{ page.title }}</h1>
      <section class="details">
        <dl>
          <dt>Mail
          <dd><a href="mailto:hello@nylira.com">hello@nylira.com</a>
          <dt>Github
          <dd><a href="https://github.com/nylira">Nylira</a>
          <dt>Twitter
          <dd><a href="//twitter.com/zcpeng">@zcpeng</a>
          <dt>Facebook
          <dd><a href="//facebook.com/pages/Nylira/191457124212076">Nylira</a>
        </dl>

        <section class='address'>
          <h2>Currently Traveling</h2>
          <ul class="address">
            <li><a href="//nylira.com">Nylira, LLC.</a>
            <li>Zadarska 7
            <li>Split, Croatia
          </ul>
        </section>

      </section>

      <div class="map"> 
        <iframe width="640" height="640" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Central+Hong+Kong&amp;aq=&amp;sll=13.784291,100.583755&amp;sspn=0.01515,0.022724&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Central,+Hong+Kong&amp;z=14&amp;ll=22.281944,114.158056&amp;output=embed"></iframe>iframe>
        <p><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Central+Hong+Kong&amp;aq=&amp;sll=13.784291,100.583755&amp;sspn=0.01515,0.022724&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Central,+Hong+Kong&amp;z=14&amp;ll=22.281944,114.158056" style="color:#0000FF;text-align:left">View Larger Map</a>a></small>

      </div>

    </section>
{% include en-footer.html %}
