{% include en-html-head.html %}
<body class='en home'>
{% include en-header.html %}

    <header class='main'>
      <aside>Interface design for <a href='/en/profile'>developers</a>.</aside>
    </header>

    <section class='about'>
      <h2>About Nylira</h2>
      <p>We build interfaces. <a href='/en/profile'>Learn more</a>
    </section>

    <section class='articles'>
      <h2>Latest articles</h2>
      <ul class='articles'>
        {% for post in site.categories.en-articles %}<li class='article'>
          <h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
          <section class='summary'>
            {{ post.summary }}
            <a href='{{ post.url }}'>Read more</a>
          </section>
        {% endfor %}
      </ul>
      <p class='all articles'><a href='/en/articles'>All Articles</a>
    </section>

{% include en-footer.html %}
