{% include en-html-head.html %}
<body class='en home'>
{% include en-header.html %}

    <header class='main'>
      <aside>Interface design for <a href='/en/profile'>developers</a>.</aside>
    </header>

    <section class='about'>
      <h2>About Nylira</h2>
      <p>We build interfaces. <a href='/en/profile'>Learn more</a>
    </section>

    <section class='articles'>
      <h2>Latest articles</h2>
      <ul class='articles'>
        {% for post in site.categories.en-articles limit:3 %}<li class='article'>
          <a href='{{ post.url }}'>
            <h3>{{ post.title }}</h3>
            <section class='summary'>
              {{ post.summary }}
              <p class='read more'>Read more
            </section>
          </a>
        {% endfor %}
      </ul>
      <p class='all articles'><a href='/en/articles'>All Articles</a>
    </section>

{% include en-footer.html %}
