{% include en-html-head.html %}
<body class='projects'>
{% include en-header.html %}

<section class='projects'>
  <menu class='past-clients'>
    <h2>Past Clients</h2>
    <ul>
      <li><a href='#guildwork'>Guildwork</a>
      <li>Man Enough To Care
      <li>iDoneThis
      <li>Crazy Boat
      <li>Sisterfriends Jeans
      <li><a href='#tcc'>TC Castings LLC</a>
      <li><a href='#riotact'>Riot Act</a>
      <li><a href='#nylira-v2'>Nylira v2</a>
      <li>Humboldt State University
      <li>North Coast Cultura Trust
      <li>Arcata Arts Institute
      <li><a href='#nylira-v1'>Nylira v1</a>
    </ul>
  </menu>

  <ol class='projects'>
      
    <li class='project' id='guildwork'>
      <ul class="slideshow">
        <li class="slide"><img src='/s/i/p/guildwork-01.png'>
        <li class="slide"><img src='/s/i/p/guildwork-02.png'>
        <li class="slide"><img src='/s/i/p/guildwork-05.png'>
        <li class="slide"><img src='/s/i/p/guildwork-04.png'>
      </ul>
      <h3 class='title'>Guildwork <span title='Work in progress'>(WIP)</span></h3>
      <time class='timeago' datetime='2011-04-09'>April 2011</time>
      <a target='_blank' href='//guildwork.com'>Visit site</a>

    <li class='project' id='tcc'>
      <iframe src='//threecoins.com/company/news' ></iframe>
      <h3 class='title'>TC Castings LLC</h3>
      <time class='timeago' datetime='2010-07-18'>July 2010</time>
      <a target='_blank' href='//threecoins.com/'>Visit site</a>

    <li class='project' id='ruby'>
      <iframe src='//v2.nylira.com/p/ruby' ></iframe>
      <h3 class='title'>Ruby</h3>
      <time class='timeago' datetime='2010-03-17'>March 2010</time>
      <a target='_blank' href='//v2.nylira.com/p/ruby'>Visit site</a>

    <li class='project' id='slashdot'>
      <iframe src='//v2.nylira.com/p/slashdot' ></iframe>
      <h3 class='title'>Slashdot</h3>
      <time class='timeago' datetime='2010-03-05'>March 2010</time>
      <a target='_blank' href='//v2.nylira.com/p/slashdot'>Visit site</a>

    <li class='project' id='riotact'>
      <iframe src='//riotactguild.com' ></iframe>
      <h3 class='title'>Riot Act</h3>
      <time class='timeago' datetime='2010-01-13'>January 2010</time>
      <a target='_blank' href='//riotactguild.com/'>Visit site</a>

    <li class='project' id='nylira-v2'>
      <iframe src='//v2.nylira.com' ></iframe>
      <h3 class='title'>Nylira V2</h3>
      <time class='timeago' datetime='2010-01-03'>January 2010</time>
      <a target='_blank' href='//v2.nylira.com'>Visit site</a>

    <li class='project' id='manywhelps'>
      <iframe src='//v2.nylira.com/p/manywhelps' ></iframe>
      <h3 class='title'>Many Whelps</h3>
      <time class='timeago' datetime='2009-12-23'>December 2009</time>
      <a target='_blank' href='//v2.nylira.com/p/manywhelps'>Visit site</a>

    <li class='project' id='nylira-v1'>
      <iframe src='//v1.nylira.com' ></iframe>
      <h3 class='title'>Nylira V1</h3>
      <time class='timeago' datetime='2009-10-11'>October 2009</time>
      <a target='_blank' href='//v1.nylira.com'>Visit site</a>

   </ol>
</section>

{% include en-footer.html %}
