{% include en-html-head.html %}
<body class='projects'>
{% include en-header.html %}

<section class='projects'>
  <h1>Projects</h1>
  <menu class='past-clients'>
    <h2>Past Clients</h2>
    <ul>
      <li><a href="#scrive">Scrive</a>
      <li>GovHub
      <li><a href="#easybcd">EasyBCD</a>
      <li><a href="#artilect">Artilect</a>
      <li><a href="#foretag">Svenskt Näringsliv</a>
      <li><a href="#castle">Castle.so</a>
      <li>LuckyChat
      <li>Guildwork
      <li>ME2C
      <li>iDoneThis
      <li>Crazy Boat
      <li>SF Jeans
      <li>Three Coins
      <li>Geeknet, Inc.
      <li>Riot Act
      <li>HSU
      <li>NCCT
      <li>AAI
    </ul>
  </menu>

  <ol class='projects'>

    <li class='project' id='easybcd'>
      <iframe src='//scrive.com/en/features' ></iframe>
      <h3 class='title'>Scrive</h3>
      <time class='timeago' datetime='2013-01-08'>January 2013</time>
      <a target='_blank' href='//scrive.com/en/features'>View demo</a>

    <li class='project' id='easybcd'>
      <iframe src='//projects.nylira.com/easybcd' ></iframe>
      <h3 class='title'>EasyBCD</h3>
      <time class='timeago' datetime='2012-06-18'>June 2012</time>
      <a target='_blank' href='//projects.nylira.com/easybcd'>View demo</a>

    <li class='project' id='artilect'>
      <ul class="slideshow">
        <li class="slide"><img src='/s/i/p/artilect-01.png'>
      </ul>
      <h3 class='title'>artilect</h3>
      <time class='timeago' datetime='2012-01-08'>January 2012</time>
      <a target='_blank' href='//artilect.se'>visit site</a>

    <li class='project' id='foretag'>
      <iframe src='//foretagsklimat.se' ></iframe>
      <h3 class='title'>Foretagsklimat.se</h3>
      <time class='timeago' datetime='2012-06-18'>December 2012</time>
      <a target='_blank' href='//foretagsklimat.se'>View demo</a>

     <li class='project' id='castle'>
      <ul class="slideshow">
        <li class="slide"><img src='/s/i/p/castle-01.png'>
        <li class="slide"><img src='/s/i/p/castle-02.png'>
      </ul>
      <h3 class='title'>Castle.so (WIP)</span></h3>
      <time class='timeago' datetime='2011-11-09'>November 2011</time>
      <a target='_blank' href='//castle.so'>Visit site</a>

    <li class='project' id='guildwork'>
      <ul class="slideshow">
        <li class="slide"><img src='/s/i/p/guildwork-01.png'>
        <li class="slide"><img src='/s/i/p/guildwork-02.png'>
        <li class="slide"><img src='/s/i/p/guildwork-05.png'>
        <li class="slide"><img src='/s/i/p/guildwork-04.png'>
      </ul>
      <h3 class='title'>Guildwork</span></h3>
      <time class='timeago' datetime='2011-04-09'>April 2011</time>
      <a target='_blank' href='//guildwork.com'>Visit site</a>

    <li class='project' id='slashdot'>
      <iframe src='//projects.nylira.com/p/slashdot' ></iframe>
      <h3 class='title'>Slashdot</h3>
      <time class='timeago' datetime='2010-03-05'>March 2010</time>
      <a target='_blank' href='//projects.nylira.com/p/slashdot'>Visit demo</a>

    <li class='project' id='riotact'>
      <iframe src='//riotactguild.com/guides' ></iframe>
      <h3 class='title'>Riot Act</h3>
      <time class='timeago' datetime='2010-01-13'>January 2010</time>
      <a target='_blank' href='//riotactguild.com/'>Visit site</a>

    <li class='project' id='nylira-v1'>
      <iframe src='//v1.nylira.com' ></iframe>
      <h3 class='title'>Nylira V1</h3>
      <time class='timeago' datetime='2009-10-11'>October 2009</time>
      <a target='_blank' href='//v1.nylira.com'>Visit site</a>

   </ol>
</section>

{% include en-footer.html %}
