{% include en-html-head.html %}
<body class='projects'>
{% include en-header.html %}

<section class='projects'>
  <h1>Projects</h1>
  <menu class='past-clients'>
    <h2>Past Clients</h2>
    <ul>
      <li><a href='#castle'>Castle.so</a>
      <li>LuckyChat
      <li><a href='#guildwork'>Guildwork</a>
      <li>ME2C
      <li>iDoneThis
      <li>Crazy Boat
      <li>SF Jeans
      <li>Three Coins
      <li><a href='#slashdot'>Geeknet, Inc.</a>
      <li><a href='#riotact'>Riot Act</a>
      <li>HSU
      <li>NCCT
      <li>AAI
      <li><a href='#nylira-v1'>Ni v1</a>
    </ul>
  </menu>

  <ol class='projects'>

     <li class='project' id='castle'>
      <ul class="slideshow">
        <li class="slide"><img src='/s/i/p/castle-01.png'>
        <li class="slide"><img src='/s/i/p/castle-02.png'>
      </ul>
      <h3 class='title'>Castle.so (WIP)</span></h3>
      <time class='timeago' datetime='2011-06-09'>June 2011</time>
      <a target='_blank' href='//castle.so'>Visit site</a>

    <li class='project' id='guildwork'>
      <ul class="slideshow">
        <li class="slide"><img src='/s/i/p/guildwork-01.png'>
        <li class="slide"><img src='/s/i/p/guildwork-02.png'>
        <li class="slide"><img src='/s/i/p/guildwork-05.png'>
        <li class="slide"><img src='/s/i/p/guildwork-04.png'>
      </ul>
      <h3 class='title'>Guildwork</span></h3>
      <time class='timeago' datetime='2011-04-09'>April 2011</time>
      <a target='_blank' href='//guildwork.com'>Visit site</a>

    <li class='project' id='drawarbank'>
      <iframe src='//projects.nylira.com/p/bank' ></iframe>
      <h3 class='title'>Drawar Bank</h3>
      <time class='timeago' datetime='2010-04-18'>April 2010</time>
      <a target='_blank' href='//projects.nylira.com/p/bank'>View Demo</a>

    <li class='project' id='ruby'>
      <iframe src='//projects.nylira.com/p/ruby' ></iframe>
      <h3 class='title'>Ruby</h3>
      <time class='timeago' datetime='2010-03-17'>March 2010</time>
      <a target='_blank' href='//projects.nylira.com/p/ruby'>Visit demo</a>

    <li class='project' id='slashdot'>
      <iframe src='//projects.nylira.com/p/slashdot' ></iframe>
      <h3 class='title'>Slashdot</h3>
      <time class='timeago' datetime='2010-03-05'>March 2010</time>
      <a target='_blank' href='//projects.nylira.com/p/slashdot'>Visit demo</a>

    <li class='project' id='riotact'>
      <iframe src='//riotactguild.com' ></iframe>
      <h3 class='title'>Riot Act</h3>
      <time class='timeago' datetime='2010-01-13'>January 2010</time>
      <a target='_blank' href='//riotactguild.com/'>Visit site</a>

    <li class='project' id='corianderx'>
      <iframe src='//projects.nylira.com/p/corianderx' ></iframe>
      <h3 class='title'>Corianderx</h3>
      <time class='timeago' datetime='2009-12-23'>December 2009</time>
      <a target='_blank' href='//projects.nylira.com/p/corianderx'>View demo</a>

    <li class='project' id='manywhelps'>
      <iframe src='//projects.nylira.com/p/manywhelps' ></iframe>
      <h3 class='title'>Many Whelps</h3>
      <time class='timeago' datetime='2009-12-23'>December 2009</time>
      <a target='_blank' href='//projects.nylira.com/p/manywhelps'>View demo</a>

    <li class='project' id='nylira-v1'>
      <iframe src='//v1.nylira.com' ></iframe>
      <h3 class='title'>Nylira V1</h3>
      <time class='timeago' datetime='2009-10-11'>October 2009</time>
      <a target='_blank' href='//v1.nylira.com'>Visit site</a>

    <li class='project' id='cv'>
      <iframe src='//projects.nylira.com/p/cv' ></iframe>
      <h3 class='title'>Peng Zhong</h3>
      <time class='timeago' datetime='2009-06-08'>June 2009</time>
      <a target='_blank' href='//projects.nylira.com/p/cv'>View CV</a>

   </ol>
</section>

{% include en-footer.html %}
