.wrapper
  p 0 2em

#header
  .nav
    ul
      clearfix()
      li
        h 51px
        &#nav-home
          a
            font-size 1.333em
            lhh 48px

        a
          font-size 1em
          lhh 48px
          pr 1.5em
          pl 1.5em
          c txt
#footer
  p, ul
    font-size 1em
            
section, .section
  .section-header
    s x
  .body
    p.bottom
      s x
      mt 1.5em

ul.blocks
  li
    .block, a.block
      .title
        font-size 1.5em
      .sub
        font-size 1em

body.article
body.articles
body.projects
body.contact
body.profile
  #container
    .body
      > p:first-of-type
        font-size 1.333em

#container
  .footer
    p.meta, ul
      s 1em
