#container
  .header
    mb 2em
    h1
      font 3em/1 sans
      ls -2px

  .body
    p:first-of-type
      f 1.5em/1.5 serif

.category
  ul
    li
      .title
        fl()
      .date
        fr()

#footer
  ul
    li
      fl()
      bl 8px solid #ddd
      p 0 3em 0 1em
