#header
  m 0 auto 3em
  bt 4px solid txt
  bb 1px solid txt

  .nav
    ul
      clearfix()
      ta center
      li
        h 3em
        br 1px solid txt
        d inline-block
        &:last-of-type
          br none
        a
          d block
          ta center
          bt 4px solid txt
          mt -4px
          lh 3em
          p 0 1.5em
          c txt
          &:hover
            bg #fff
            border-top-color link
            
#container
  .header
    mb 2em
    h1
      font 3em/1 sans
      ls -2px

  .body
    p:first-of-type
      f 1.5em/1.5 serif


