.wrapper
  p 0 2em

#header
  .nav
    ul
      clearfix()
      li
        h 3em
        &:last-of-type
          br none
        a
          font-size x
          p 0 1.5em
          c txt
            
section, .section
  .section-header
    font-size x

ul.blocks
  li
    .block, a.block
      .title
        font-size 1.5em
      .date, .sub
        font-size 1em

.home-header
  h 12em

  .cell
    h1
      font-size 2em

body.article
body.projects
body.contact
body.about
  #container
    .body
      > p:first-of-type
        font-size 1.333em
