#header
  mb 3em

  .nav
    ul
      clearfix()
      li
        d block
        fl()
        w 160px
        bl 1px solid bc
        
        &#nav-home
          w 320px
          ta left
          bl none
          pl .25*x

        a
          lh 3em
          p 0

#home-header
  h 14em
  mb 3em
  .cell
    h1
      font-size 2em


.wrapper
  w 960px
  max-width 960px
  p 0

.section
  pt 1.5em

  .section-header
    m 0
    w 320px
    fl()
    pl .25*x
    h2
      mt -1.25em

  .body
    ml 320px

#container
  .figure
    &.max
      w 960px
      ml -320px


body.profile
body.contact
body.article
body.articles
body.projects.index
  #container
    .header
      clearfix()

      .aside
        w 320px
        fl()
        pr 2em
        ta right

        p.date
          lh 2.5em
          span.label
            d inline

      .main
        w 640px
        ml 320px
        ta left

    .body, .footer
      w 640px
      ml 320px
      .aside
        d block

#project-process
  clearfix()
  w 960px
  ml -320px !important
  lst none !important
  pl 0 !important
  li
    w 159px
    ml 1px
    fl()
    h 260px
    p 0
    .label
      bb 1px solid bg1
      h x*2.5 + x*2
      p x
      lh 1.25em
    .desc
      s 85%
      p x*0.75 x
