#header
  mb 3em

  .nav
    ul
      clearfix()
      li
        d block
        fl()
        w 160px
        bl 1px solid txt
        
        &#nav-home
          w 320px
          ta left
          bl none
          pl .25*x

        a
          lh 3em
          p 0

#home-header
  h 14em
  mb 3em
  .cell
    h1
      font-size 2em


.wrapper
  w 960px
  max-width 960px
  p 0

.section
  pt 1.5em

  .section-header
    m 0
    w 320px
    fl()
    pl .25*x
    h2
      mt -1.25em

  .body
    ml 320px

body.profile
body.contact
body.article
body.articles
body.projects.index
  .header
    clearfix()

    .main, .aside
      fl()

    .aside
      w 320px
      ta right
      ml -320px
      pr 1em

    .main
      w 640px
      ml 320px
      ta left

  .body, .footer
    w 640px
    ml 320px
