@media (min-width: 375px)
  #header
    .nav ul
      li
        h 53px
        &#nav-home a
          lhh 48px
          s 1em
        a
          s 0.9em
          lhh 48px
          p 0 .67em

  #container .body.text .figure .figcaption p
    s 0.8725em

@media (min-width: 414px)
  #header .nav ul li
    &#nav-home a
      s 1.125em
    a
      font-size 1em
      p 0 .70em

  #container > .wrapper > .body > p:first-of-type
      s 1.125em

  #container .body.text .figure .figcaption p
    s 1em

@media (min-width: 480px)
  #header .nav ul li
    a
      p 0 1em
    &#nav-home a
      s 1.25em

@media (min-width: 568px)
  #header .nav ul li
    a
      p 0 1.25em
    &#nav-home a
      p 0 2em
  
@media (min-width: 640px)
  #header .nav ul li
    a
      p 0 1.5em
    &#nav-home a
      p 0 3.5em

  #container > .wrapper > .body > p:first-of-type
    s 1.25em

@media (min-width: 768px)

  body
    s 1.25em

  // increase line height of header
  #header
    .nav ul
      li
        h 63px
        &#nav-home a, a
          lhh 60px

  // make the header have more structure
  #header
    mb 3em
    .wrapper
      p 0
    .nav ul li
      w 16.666%
      a
        p 0
        bl 1px solid bc
      &#nav-home
        w 33.333%
        ta left
        pl 1em
        a
          p 0
          bl none
  #footer
    clearfix()
    ta left
    p.copyright, ul
      float left
    p.copyright
      w 33.3333%
    ul
      w 66.6666%

  // add more padding to the homepage header
  body.home
    #header
      mb 2.5em
    #home-header
      mb 3em

  // increase padding everywhere to 3em
  body.about
    #container
      mb 0.5em + 1em

  body.clients
  body.expertise
  body.contact
    #container
      mb 1em + 1em

  section, .section
    mb 2em + 1em

@media (min-width: 996px)
  .section
    pt 1.5em

    .section-header
      m 0
      33.333%
      fl()
      pl .25*x
      h2
        mt -1.25em

    .body
      ml 33.333%

  #home-header
    .cell
      b 1px solid #ddd
      p 2.375em 3em
      h1
        s 1.5em

  #container
    .wrapper > .header
    .wrapper > .footer
      max-width 50 * x
      margin-left auto
      margin-right auto

    .body, .body.text
      h2, h3, p, .p, li, ul.blocks li
        max-width 50 * x
        margin-left auto
        margin-right auto

  body.clients
    #container .body ul.blocks
      pl 320px
      m 0 auto
      li
        ml 320px
        ml 0
        mr 0

        .block, a.block
          p 0
          clearfix()

          .thumb
            d block
            b 1px solid #ddd
            br none
          .title
            float left
            lh 84px
            m 0
            pl 1em
          .sub
            lh 84px
            float right
            pr 1em

@media (min-width: 1200px)
  #container .header h1
    s 3em

  #home-header
    .cell
      h1
        s 1.75em
        lh 1.75em
        a
          bb 3px solid txt

  #container .body ul.blocks li .block .title
    s 1.5em
