@media (min-width: 375px)
  #header
    .nav
      ul
        li
          bt 4px solid #000
          h 48px
          &#nav-home
            a
              lhh 48px
          a
            font-size 0.9em
            lhh 48px
            p 0 .67em

@media (min-width: 640px)
  body
    display block

@media (min-width: 980px)
  body
    display block

@media (min-width: 1200px)
  body
    display block
