header.index
  cnt()
  bg rgba(48,48,48,.9)
  be 1px solid edge
  font-size sm
  font-smoothing()

  a
    color #999
    transition()
    &:hover
      color #ccc
      border-color anchor

  h1 
    bg m30
    a
      display block
      font bold 1.5em sans
      line-height 2em
      color #ccc
      text-transform lowercase
  
  nav
    ul
      clear()
      li
        box-sizing()
        width: 25%
        float: left
        a
          font-weight bold
          display block
          line-height 3em
          text-align center
  menu
    li
      float left

body.home h1.index.home a
body.projects li.index.projects a
body.articles li.index.articles a
body.article li.index.articles a
body.profile li.index.profile a
body.contact li.index.contact a
li.index.active a
  color anchor
