@import 'mixins/reset'

canvas = 960px
@import 'mixins/grid'
cnt(arguments = 12)
  span arguments
  pl m*4
  mar 0
  clear()

@import 'mixins/shades'
@import 'mixins/brevity'
@import 'mixins/mixins'
@import 'mixins/fonts'

@import '1024/root/body'
@import '1024/root/markdown'
@import '1024/root/header'
@import '1024/root/footer'

@import '1024/root/home'

@import '1024/profile/index'
@import '1024/projects/index'

@import '1024/articles/index'
@import '1024/articles/article'

@import '1024/contact/index'
