@import 'mixins/reset'

canvas = 600px
@import 'mixins/grid'

@import 'mixins/shades'
@import 'mixins/brevity'
@import 'mixins/mixins'
@import 'mixins/fonts'

@import '640/root/body'
@import '640/root/markdown'
@import '640/root/header'
@import '640/root/footer'

@import '640/root/home'

@import '640/profile/index'
@import '640/projects/index'

@import '640/articles/index'
@import '640/articles/article'

@import '640/contact/index'
